---
import { getCollection } from "astro:content";
import CaseStudyItem from "./CaseStudyItem.astro";

interface Props {
    show: number;
    featured?: boolean;
}

const { show, featured = false } = Astro.props;

const caseStudies = await getCollection("case-studies", ({ data }) => {
    // return content that is not a draft and is featured if featured is true
    return !data.draft && (!featured || data.featured);
});

// const caseStudies = await Astro.glob("../../content/case-studies/*.md*");
// caseStudies.sort(
//     (a, b) => Date.parse(b.frontmatter.date) - Date.parse(a.frontmatter.date),
// );

const limitedCaseStudies = show != 0 ? caseStudies.slice(0, show) : caseStudies;
---

<div class="portfolio-grid">
    {
        limitedCaseStudies.map((caseStudy) => (
            <CaseStudyItem
                title={caseStudy.data.title}
                thumbnail={caseStudy.data.thumbnail}
                tags={caseStudy.data.tags}
                slug={caseStudy.slug}
            />
        ))
    }
    <div class="no-matches" style="display: none;">
        <p>No case study matches the selection.</p>
    </div>
</div>

<style>
    .portfolio-grid {
        position: relative;
        max-width: var(--content-width);
        margin: 0 auto 4rem auto;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .no-matches {
        margin-top: 2rem;
        margin-bottom: 4rem;
    }

    .no-matches p {
        font-size: 1.5rem;
        color: var(--primary-color);
    }
</style>
