---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const blogPosts = await getCollection("blog");
    return blogPosts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title=`${post.data.title} - Viktor Fejes`>
    <article class="w-full max-w-8xl px-4 md:px-8 mt-56">
        <div class="w-full mb-32">
            <h1 class="text-5xl md:text-8xl max-w-7xl">{post.data.title}</h1>
        </div>
        <div class="w-full grid md:grid-cols-3 relative gap-4">
            <div class="w-full max-w-xl md:sticky top-40 left-0 col-span-1 h-fit text-2xl uppercase">
                <div class="mb-10">
                    <div class="block">By Viktor Fejes</div>
                </div>
                <div class="mb-10">
                    <div>Posted on</div>
                    <div>
                        <time class="post-date" datetime={post.data.publishDate.toISOString()}>{post.data.publishDate.toLocaleDateString("en-US", {
                            timeZone: "UTC",
                            month: "long",
                            day: "numeric",
                            year: "numeric"
                        })}</time>
                    </div>
                </div>
            </div>
            <div class="w-full col-span-2 prose">
                <Content />
            </div>
        </div>
    </article>
</Layout>

<style>
    .prose {
        margin-bottom: 16em;
    }

    .prose :global(a) {
        color: var(--color-primary-500);
        font-weight: var(--font-weight-medium);
        text-decoration: underline;
    }

    .prose > :global(p) {
        font-size: var(--font-size-2xl);
        font-weight: var(--font-weight-regular);
        line-height: 1.45;
        color: var(--color-neutral-700);
        max-width: var(--max-width-md);
        margin-bottom: 1.5em;
    }

    .prose :global(h2) {
        font-size: var(--font-size-5xl);
        font-weight: var(--font-weight-regular);
        line-height: 1.2;
        /* letter-spacing: var(--letter-spacing-tight); */
        margin-top: 2.5em;
        margin-bottom: 1.25em;
    }

    .prose :global(img) {
        /* border-radius: 0.5rem; */
    }
    
    .prose :global(.before-after-slider) {
        margin-bottom: 1.45em;
    }
    
    .prose :global(.alert) {
        max-width: var(--max-width-xs);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.45em;
    }

    .prose :global(iframe) {
        width: 100%;
        height: auto;
        aspect-ratio: 16/9;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.45em;
    }
</style>