---
import Alert from "../../components/Alert.astro";
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";
const blog = await getCollection("blog");

// Sort posts
blog.sort((a, b) => {
    return new Date(b.data.publishDate).getTime() - new Date(a.data.publishDate).getTime();
});

// Grouping by year
const postsByYear = blog.reduce((acc, post) => {
    const year = new Date(post.data.publishDate).getFullYear();
    if (!acc[year]){
        acc[year] = [];
    }
    acc[year].push(post);
    return acc;
}, {});
---

<Layout title="Viktor Fejes - Blog">
    <section class="page-title">
        <div class="page-title-inner">
            <h2>Posts, articles, logs.</h2>
            <p>A collection of various write-ups about my adventures with all sorts of techniques and technologies.</p>
        </div>
    </section>
    <!-- Don't have enough articles for this to make sense yet... -->
    <!-- <div class="search">
        <div class="search-group">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="search-icon"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
            <input type="text" name="blog-search" id="search" placeholder="Search…">
        </div>
    </div> -->
    <!-- <div class="search-results"></div> -->
    <div class="all-posts">
        {blog.map((post) => (
            <article class="post">
                <a href=`/blog/${post.slug}` class="post-link">
                    <time class="date" datetime={post.data.publishDate.toISOString()}>{post.data.publishDate.toLocaleDateString("en-US", {
                        year: "numeric",
                        month: "short",
                        day: "2-digit",
                    })}</time>
                    <h3 class="post-title">{post.data.title}</h3>
                </a>
            </article>
        ))}
    </div>
</Layout>

<style>
    .page-title {
        margin-top: 16rem;
        margin-bottom: 16rem;
    }

    .page-title h2{
        font-size: var(--font-size-6xl);
        font-weight: var(--font-weight-medium);
        letter-spacing: var(--letter-spacing-tight);
        line-height: 1.1;
        margin-bottom: 1em;
        color: var(--color-neutral-900);
        max-width: 24ch;
    }

    .page-title p {
        /* display: none; */
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-regular);
        color: var(--color-neutral-900);
        line-height: 1.38;
        max-width: 40ch;
    }

    .page-title .tag {
        color: var(--color-neutral-900);
    }
    
    .page-title {
        padding-left: var(--padding-page-left);
        padding-right: var(--padding-page-right);
    }

    .page-title-inner {
        max-width: var(--max-width-xl);
        margin: 0 auto;
    }

    .all-posts {
        max-width: calc(var(--max-width-xl) + var(--padding-page-left) + var(--padding-page-right));
        padding-left: var(--padding-page-left);
        padding-right: var(--padding-page-right);
        margin: 0 auto;
        margin-bottom: 16rem;
    }

    .post {
    }

    .year {
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-semibold);
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    
    .post-link {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        /* border-radius: 0.5rem; */
        border-top: 1px solid var(--color-neutral-300);
        padding: 1.4rem 1rem;
        margin-bottom: 0.5rem;
    }
    
    .post-link:last-child {
        border-bottom: 1px solid var(--color-neutral-300);
    }
    
    .post-link:hover {
        background: var(--color-neutral-200);
    }

    .post-title {
        font-size: var(--font-size-2xl);
        font-weight: var(--font-weight-regular);
        color: var(--color-neutral-900);
    }

    .date {
        font-size: var(--font-size-md);
        padding-right: 2.5rem;
        font-weight: var(--font-weight-medium);
        color: var(--color-neutral-600);
        white-space: nowrap;
        display: block;
        min-width: 3rem;
    }

    .subtitle {
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-medium);
        line-height: 1.4;
        color: var(--color-neutral-600);
    }

    .search {
        padding-left: var(--padding-page-left);
        padding-right: var(--padding-page-right);
        display: flex;
        place-content: center;
    }

    .search-group {
        position: relative;
    }

    .search-icon {
        position: absolute;
        left: 0.75rem;
        width: 1.125rem;
        height: 100%;
        color: var(--color-neutral-500);
    }

    #search {
        border-radius: 0.5rem;
        outline: 1px solid var(--color-neutral-300);
        padding: 0.5rem 0.75rem 0.5rem 3rem;
        background: transparent;
        color: var(--color-neutral-800);
    }

    #search:focus {
        outline: 2px solid var(--color-secondary-500);
    }

    #search::placeholder {
        color: var(--color-neutral-500);
    }
</style>