---
import Alert from "../../components/Alert.astro";
import Layout from "../../layouts/Layout.astro";

import { getCollection } from "astro:content";
const blog = await getCollection("blog");

// Sort posts
blog.sort((a, b) => {
    return new Date(b.data.publishDate).getTime() - new Date(a.data.publishDate).getTime();
});

// Grouping by year
const postsByYear = blog.reduce((acc, post) => {
    const year = new Date(post.data.publishDate).getFullYear();
    if (!acc[year]){
        acc[year] = [];
    }
    acc[year].push(post);
    return acc;
}, {});
---

<Layout title="Viktor Fejes - Blog">
    <div class="header">
        <h1 class="title">Posts, articles, and logs.</h1>
        <p class="subtitle">A collection of various write-ups about my adventures with all sorts of techniques and technologies.</p>
    </div>
    <div class="search">
        <div class="search-group">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="search-icon"><circle cx="11" cy="11" r="8"/><path d="m21 21-4.3-4.3"/></svg>
            <input type="text" name="blog-search" id="search" placeholder="Search…">
        </div>
    </div>
    <!-- <div class="wip">
        <Alert title="Work In Progress" type="wip">I'm building this website live, so there may be parts that are still under construction, like this one. Please, check back a bit later.</Alert>
    </div> -->
    <div class="search-results"></div>
    <div class="all-posts">
        {Object.keys(postsByYear).sort((a, b) => b - a).map((year) => (
            <h2 class="year">{year}</h2>
            <section class="posts">
            {postsByYear[year].map((post) => (
                <article class="post">
                    <a href=`/blog/${post.slug}` class="post-link">
                        <time class="date" datetime={post.data.publishDate.toISOString()}>{post.data.publishDate.toLocaleDateString("en-US", {
                            month: "short",
                            day: "2-digit",
                        })}</time>
                        <h3 class="post-title">{post.data.title}</h3>
                    </a>
                </article>
            ))}
            </section>
        ))}
    </div>
</Layout>

<style>
    .all-posts {
        max-width: calc(var(--max-width-xs) + var(--padding-page-left) + var(--padding-page-right));
        padding-left: var(--padding-page-left);
        padding-right: var(--padding-page-right);
        margin: 0 auto;
    }

    .post {
    }

    .year {
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-semibold);
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    
    .post-link {
        display: flex;
        align-items: baseline;
        justify-content: flex-start;
        border-radius: 0.5rem;
        padding: 0.8rem 1rem;
        margin-bottom: 0.5rem;
    }
    
    .post-link:hover {
        background: var(--color-neutral-200);
    }

    .post-title {
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-medium);
        color: var(--color-neutral-900);
    }

    .date {
        font-size: var(--font-size-base);
        padding-right: 2.5rem;
        font-weight: var(--font-weight-medium);
        color: var(--color-neutral-600);
        white-space: nowrap;
        display: block;
        min-width: 3rem;
    }

    .wip {
        max-width: var(--max-width-xs);
        margin: 4rem auto;
        padding-left: var(--padding-page-left);
        padding-right: var(--padding-page-right);
    }

    .header {
        padding-top: 8rem;
        padding-left: var(--padding-page-left);
        padding-right: var(--padding-page-right);
        max-width: var(--max-width-xs);
        margin: 0 auto;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    .title {
        font-size: var(--font-size-3xl);
        font-weight: var(--font-weight-bold);
        letter-spacing: var(--letter-spacing-tight);
        line-height: 1.1;
        margin-bottom: 1rem;
    }

    .subtitle {
        font-size: var(--font-size-md);
        font-weight: var(--font-weight-medium);
        line-height: 1.4;
        color: var(--color-neutral-600);
    }

    .search {
        padding-left: var(--padding-page-left);
        padding-right: var(--padding-page-right);
        display: flex;
        place-content: center;
    }

    .search-group {
        position: relative;
    }

    .search-icon {
        position: absolute;
        left: 0.75rem;
        width: 1.125rem;
        height: 100%;
        color: var(--color-neutral-500);
    }

    #search {
        border-radius: 0.5rem;
        outline: 1px solid var(--color-neutral-300);
        padding: 0.5rem 0.75rem 0.5rem 3rem;
        background: transparent;
        color: var(--color-neutral-800);
    }

    #search:focus {
        outline: 2px solid var(--color-secondary-500);
    }

    #search::placeholder {
        color: var(--color-neutral-500);
    }
</style>