---
---

<div class="rounded-xl overflow-hidden border border-neutral-200 dark:border-neutral-800">
    <vector-sub></vector-sub>
</div>

<script>
    import { VectorSub } from "../../assets/scripts/vector-add.js";
</script>
