---
---
<script>
    import { VectorDot } from "../../assets/scripts/vector-operations.js";
</script>

<div class="rounded-xl overflow-hidden border border-neutral-200 dark:border-neutral-800">
    <vector-dot></vector-dot>
</div>

<style>
    vector-dot {
        --background: var(--color-neutral-50);
        --grid: var(--color-neutral-100);
        --axes: var(--color-neutral-950);
        --line-red: var(--color-rose-500);
        --line-green: var(--color-lime-600);
        --line-yellow: var(--color-yellow-400);

        --info-red-primary: var(--color-rose-500);
        --info-red-secondary: var(--color-rose-100);

        --info-green-primary: var(--color-lime-700);
        --info-green-secondary: var(--color-lime-100);

        --info-yellow-primary: var(--color-yellow-600);
        --info-yellow-secondary: var(--color-yellow-100);
    }

    :global(html.dark) vector-dot {
        --background: var(--color-neutral-900);
        --grid: var(--color-neutral-800);
        --axes: var(--color-neutral-600);
        --line-red: var(--color-rose-500);
        --line-green: var(--color-lime-600);
        --line-yellow: var(--color-yellow-400);

        --info-red-primary: var(--color-rose-300);
        --info-red-secondary: var(--color-rose-950);

        --info-green-primary: var(--color-lime-400);
        --info-green-secondary: var(--color-lime-900);

        --info-yellow-primary: var(--color-yellow-400);
        --info-yellow-secondary: var(--color-yellow-800);
    }
</style>
