---
---

<div class="rounded-xl overflow-hidden border border-neutral-200 dark:border-neutral-800">
    <vector-mag></vector-mag>
</div>

<script>
    import { VectorMag } from "../../assets/scripts/vector-add.js";
</script>
