---
---

<div class="rounded-xl overflow-hidden border border-neutral-200 dark:border-neutral-800">
    <vector-scale></vector-scale>
</div>

<script>
    import { VectorScale } from "../../assets/scripts/vector-add.js";
</script>
