---
---

<div class="rounded-xl overflow-hidden border border-neutral-200 dark:border-neutral-800">
    <vector-dot></vector-dot>
</div>

<script>
    import { VectorDot } from "../../assets/scripts/vector-add.js";
</script>
