---
---
<script>
    import { VectorAdd } from "../../assets/scripts/vector-operations.js";
</script>

<div class="rounded-xl overflow-hidden border border-neutral-200 dark:border-neutral-800">
    <vector-add />
</div>

<style>
    vector-add {
        --background: var(--color-neutral-50);
        --grid: var(--color-neutral-100);
        --axes: var(--color-neutral-950);
        --line-red: var(--color-rose-500);
        --line-green: var(--color-lime-600);
        --line-blue: var(--color-sky-600);
        --line-grey: var(--color-neutral-200);

        --info-red-primary: var(--color-rose-500);
        --info-red-secondary: var(--color-rose-100);

        --info-green-primary: var(--color-lime-700);
        --info-green-secondary: var(--color-lime-100);

        --info-blue-primary: var(--color-sky-600);
        --info-blue-secondary: var(--color-sky-100);
    }
    :global(html.dark) vector-add {
        --background: var(--color-neutral-900);
        --grid: var(--color-neutral-800);
        --axes: var(--color-neutral-600);
        --line-red: var(--color-rose-500);
        --line-green: var(--color-lime-600);
        --line-blue: var(--color-sky-600);
        --line-grey: var(--color-neutral-600);

        --info-red-primary: var(--color-rose-300);
        --info-red-secondary: var(--color-rose-950);

        --info-green-primary: var(--color-lime-400);
        --info-green-secondary: var(--color-lime-900);

        --info-blue-primary: var(--color-sky-300);
        --info-blue-secondary: var(--color-sky-900);
    }
</style>
