---
---

<div class="rounded-xl overflow-hidden border border-neutral-200 dark:border-neutral-800">
    <vector-cross></vector-cross>
</div>

<script>
    import { VectorCross } from "../../assets/scripts/vector-add.js";
</script>

