---
interface Props {
    href: string;
}

const { href: linkTo } = Astro.props;
---

<div class="btn-rainbow-rounded">
    <a href={linkTo}>
        <slot />
    </a>
</div>

<style>
    .btn-rainbow-rounded {
        display: inline-block;
        text-align: center;
        color: var(--color-primary);
        font-size: var(--font-size-sm);
        font-weight: 400;
        background: linear-gradient(
            109.6deg,
            #ff1886 11.2%,
            #fce844 26%,
            #35b2ef 50.1%,
            #ff1886 76%,
            #fce844 100.2%
        );
        border-radius: 0.5rem;
        padding: 1px;
        background-size: 200% 200%;
        line-height: 1.125;
    }

    .btn-rainbow-rounded a {
        display: block;
        text-decoration: none;
        background: var(--secondary-color);
        border-radius: calc(0.5rem - 1px);
        color: var(--color-primary);
        padding: 0.8rem 1.6rem;
        transition: background 0.3s;
    }

    .btn-rainbow-rounded:hover {
        background-size: 200% 200%;
        animation: rainbowRotate 1.5s linear infinite;
    }

    .btn-rainbow-rounded:hover a {
        background: #19191d;
    }

    @keyframes rainbowRotate {
        0% {
            background-position: 0% 82%;
        }
        50% {
            background-position: 100% 19%;
        }
        100% {
            background-position: 0% 82%;
        }
    }
</style>
