---
interface Props {
    href: string;
}

const { href: linkTo } = Astro.props;
---

<a href={linkTo} class="btn-rainbow">
    <slot />
</a>

<style>
    .btn-rainbow {
        display: block;
        width: 16rem;
        margin: 0 auto;
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-size: 1.125rem;
        font-weight: 600;
        padding: 1rem 2rem;
        border: 2px solid #fff;
        box-shadow: 0.25rem 0.25rem 0px var(--primary-color);
        border-image-slice: 1;
        border-image-source: linear-gradient(
            109.6deg,
            #ff1886 11.2%,
            #fce844 52%,
            #35b2ef 100.2%
        );
    }
</style>
