---
import JournalGrid from "../../components/journal/JournalGrid.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Journal - Viktor Fejes" theme="dark">
    <div class="page-journal">
        <div class="page-header journal-header">
            <h1 class="page-title">Journal</h1>
            <p>
                This is where I write down my thoughts. Think of it as a big
                archive for myself, so that I do not forget the things I have
                learned. I write about art, development, and life in general.
            </p>
        </div>
        <JournalGrid show={0} />
    </div>
</Layout>

<style>
    .page-journal {
        padding: 4rem 2rem;
    }

    .page-header {
        width: 100%;
        max-width: var(--content-width);
        margin: 0 auto;
        margin-bottom: 4rem;
        margin-top: 4rem;
    }

    .page-title {
        font-size: 2.8rem;
        font-weight: 800;
        letter-spacing: -0.03em;
        color: var(--offwhite-color);
        margin: 0;
    }

    .page-header p {
        font-size: 1.25rem;
        color: var(--tertiary-color);
        line-height: 1.65;
        max-width: var(--thin-width);
        margin-bottom: 2rem;
    }
</style>
