@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-mono: "Geist Mono", monospace;
}

:root {
    --font-primary: "Geist", sans-serif;
}

html {
    height: 100%;
    font-family: var(--font-primary);
    background: var(--color-neutral-50);
    color: var(--color-neutral-800);
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}

html.dark {
    background: var(--color-neutral-950);
    color: var(--color-neutral-400);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

/* Code block */
.astro-code {
    font-family: var(--font-mono);
    border-radius: var(--radius-lg);
    margin-bottom: calc(var(--spacing) * 4);
    padding: calc(var(--spacing) * 4);
}

html.dark .astro-code,
html.dark .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
}
