@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap');
@import url("./reset.css");
@import url("./vars.css");
@import url("./icons.css");

/* ::-moz-selection,
::selection {
} */

html {
    font-family: var(--font-primary);
    color: var(--color-neutral-900);
    background: var(--color-neutral-100);
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
}

/* html, body {
    overflow-x: hidden;
} */

code { font-family: var(--font-mono); }

.astro-code {
    padding: 2rem;
    /* white-space: pre-wrap; */
}

/* Animations */
.element-animate.element-fade-in {
    opacity: 0;
    transition: opacity 1s;
}

.element-animate.element-fade-in.element-enter {
    opacity: 1;
}

.element-animate.element-slide-up {
    transform: translateY(100%);
    transition: transform 0.5s cubic-bezier(0,.5,.41,1);
}

.element-animate.element-slide-up.element-enter {
    transform: translateY(0);
}
