:root {
    /* Color */
    --color-primary: #e6e6ea;
    --color-secondary: #aaaaae;
    --color-accent: #fbe094;
    --color-dark: #101014;

    /* Widths */
    --width-container: 80rem;
    --width-medium: 56.25rem;
    --width-paragraph: 40rem;

    /* Spacing */
    --padding-base: 2rem;

    /* Border */
    --border-radius: 1rem;

    /* Font */
    --font-primary: "Inter", sans-serif;
    --font-mono: "JetBrains Mono", monospace;

    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 1.875rem;
    --font-size-4xl: 2.25rem;
    --font-size-5xl: 3rem;
    --font-size-6xl: 4rem;

    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Line height */
    --line-height-base: 1.65;
    --line-height-heading: 1.2;

    --spacing-1: -0.03rem;
    --spacing-2: -0.05rem;

    --gradient-primary: linear-gradient(109.6deg,
            #ff1886 11.2%,
            #fce844 52%,
            #35b2ef 100.2%);
}