.flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.col_2>* {
    flex: 1 1 calc(50% - 0.5rem);
    border-radius: 1rem;
}