:root {
    /* Fonts */
    --font-primary: "Inter", sans-serif;
    --font-mono: "JetBrains Mono", monospace;

    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-md: 1.125rem;
    --font-size-lg: 1.25rem;;
    --font-size-xl: 1.5rem;
    --font-size-2xl: 1.875rem;
    --font-size-3xl: 2.25rem;
    --font-size-4xl: 3rem;
    --font-size-5xl: 3.75rem;
    --font-size-6xl: 4.5rem;
    --font-size-7xl: 6rem;
    --font-size-8xl: 8rem;

    /* Font weight */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --letter-spacing-tight: -0.022em;

    /* Colors */
    --color-neutral-100: hsl(0, 0%, 0%);
    --color-neutral-200: hsl(240, 3%, 12%);
    --color-neutral-300: hsl(240, 2%, 25%);
    --color-neutral-400: hsl(240, 1%, 37%);
    --color-neutral-500: hsl(240, 1%, 51%);
    --color-neutral-600: hsl(240, 1%, 62%);
    --color-neutral-700: hsl(240, 1%, 75%);
    --color-neutral-800: hsl(240, 3%, 87%);
    --color-neutral-900: hsl(240, 11%, 96%);

    --color-primary-500: hsl(200, 89%, 48%);
    --color-secondary-900: rgb(189, 209, 255);
    --color-secondary-500: rgb(103, 111, 255);
    --color-secondary-100: rgb(34, 31, 58);
    /* --color-secondary-500: rgb(127, 128, 255); */

    --color-blue-100: #172554;
    --color-blue-200: hsl(217, 71%, 25%);
    --color-blue-500: hsl(217, 71%, 56%);

    /* Widths */
    --max-width-xs: 42rem;
    --max-width-sm: 48rem;
    --max-width-regular: 56rem;
    --max-width-md: 64rem;
    --max-width-lg: 80rem;
    --max-width-xl: 120rem;

    /* Paddings */
    --padding-page-left: 2rem;
    --padding-page-right: 2rem;

    --header-height: 3.5rem;
}

[data-theme="light"] {

}

[data-theme="dark"] {
    
}