---
import BtnRainbowRound from "../buttons/BtnRainbowRound.astro";
---

<div class="about-flex">
    <div class="about-left">
        <p class="about-smalltext">About Viktor</p>
        <h2>Building, Creating, Designing, Developing</h2>
        <p>
            I'm Viktor Fejes, a digital artist and developer based in Los
            Angeles, CA. Currently, I am the Creative Director of Gild Studios.
            I have been working in the creative industry for nearly 15 years. My
            passion for creating stems from my love of art and technology.
        </p>
        <BtnRainbowRound href="/about">Learn more</BtnRainbowRound>
    </div>
    <div class="about-right">
        <div class="profile-pic">
            <img
                src="/Screen Shot 2018-11-20 at 16.27.13.jpg"
                alt="Viktor Fejes"
            />
        </div>
    </div>
</div>

<style>
    .about-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        max-width: var(--content-width);
        margin: 0 auto;
        gap: 4rem;
    }

    h2 {
        margin: 0;
        margin-bottom: 3rem;
        font-size: 3rem;
        font-weight: 900;
        line-height: 1.2;
        letter-spacing: -0.03em;
        color: var(--primary-color);
    }

    p,
    h3 {
        margin: 0;
    }

    .about-left,
    .about-right {
        flex: 1 1 calc(50% - 2rem);
    }

    .about-left {
        font-size: 1.25rem;
        line-height: 1.8;
        color: var(--tertiary-color);
    }

    .about-left p {
        margin-bottom: 2rem;
    }

    .about-left .about-smalltext {
        font-size: 1rem;
        color: var(--color-primary);
        margin-bottom: 1rem;
    }

    .about-right {
        position: relative;
    }

    .about-right h3 {
        font-size: 3rem;
        font-weight: 300;
        line-height: 1.4;
        color: var(--color-primary);
        transform: translateY(100%);
    }

    .profile-pic {
        position: relative;
        border-radius: 2rem;
        overflow: hidden;
        height: 29rem;
        /* width: 38rem; */
        /* height: 28rem; */
        /* transform: translate(0, -50%); */
        z-index: 10;
        /* box-shadow: rgba(88, 139, 139, 0.2) 3.5rem -3rem 8rem -1rem; */
        box-shadow: rgba(219, 89, 42, 0.2) 3.5rem -3rem 8rem -1rem;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (max-width: 970px) {
        .about-left,
        .about-right {
            flex: 1 1 100%;
        }
    }
</style>
