---
import Tags from "../components/Tags.astro";
import ToolTags from "../components/ToolTags.astro";
import BtnRainbowRound from "../components/buttons/BtnRainbowRound.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About - Viktor Fejes" theme="dark">
    <div class="page-about">
        <div class="about-header">
            <div class="header-inner">
                <div class="about-left">
                    <h1>Hey, I'm Viktor.</h1>
                    <p>
                        I'm a digital artist and developer based in Los Angeles,
                        CA. For nearly 15 years I've had the pleasure of working
                        with and learning from some of the best in the industry,
                        combining my love for art and technology to create
                        stunning visuals.
                    </p>
                    <BtnRainbowRound href="/contact"
                        >Get In Touch</BtnRainbowRound
                    >
                </div>
                <div class="about-right">
                    <video
                        src="/video/reel2018.mp4"
                        autoplay
                        muted
                        loop
                        playsinline></video>
                </div>
            </div>
        </div>
        <div class="about-main">
            <div class="about-main-inner">
                <div class="about-attributes">
                    <h2>Skills</h2>
                    <Tags
                        class="skill-tags"
                        tags={[
                            "Art Direction",
                            "Retouching",
                            "3D Modelling",
                            "Digital Sculpting",
                            "Texturing",
                            "Programming",
                        ]}
                    />
                    <h2>Software Proficiency</h2>
                    <ToolTags
                        tags={[
                            "Photoshop",
                            "Lightroom",
                            "3Ds Max",
                            "Maya",
                            "Blender",
                            "Substance Painter",
                            "Substance Designer",
                            "Marvelous Designer",
                            "ZBrush",
                            "Rizom",
                            "Wrap",
                            "V-Ray",
                            "Corona",
                        ]}
                    />

                    <h2>Programming Languages</h2>
                    <ToolTags tags={["C++", "Rust", "Javascript"]} />
                </div>
                <div class="about-long-text">
                    <p>
                        Currently working as the Creative Director of <a
                            href="https://gildstudios.com">Gild Studios</a
                        >, I specialize in Art Direction, Retouching, CGI, and
                        Tool development. I have a passion for creating
                        beautiful images and tools that help others create
                        beautiful images.
                    </p>

                    <p>
                        My fascination with both the technical and artistic
                        aspects of crafting visuals has led me to work with some
                        of the biggest names in the industry, and to deepen my
                        understanding of color, anatomy, light, and composition.
                    </p>
                    <p>
                        My work has been featured on billboards worldwide,
                        including Times Square and Sunset Boulevard, on the
                        covers of magazines, like Variety and The Hollywood
                        Reporter, and in numerous commercials and online
                        campaigns. I have worked with clients such as Amazon,
                        Microsoft, CBS, and AT&T.
                    </p>
                    <p>
                        I am also an educator and a speaker, and I have spoken
                        at events, such as <a
                            href="https://www.creativelive.com/"
                            >Creative Live's</a
                        > Photo Week, and at various conferences and workshops. You
                        can find my courses on platforms, like Creative Live, <a
                            href="https://kelbyone.com/">KelbyOne</a
                        >, and <a href="https://www.visualeducation.com/"
                            >Visual Education</a
                        >.
                    </p>
                    <p>
                        When I'm not art directing, pushing pixels, developing a
                        game engine, or writing <a href="#">LUT analyzers</a>, I
                        enjoy practicing kendo, playing video games, and
                        spending time with my wife.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <style>
        .page-about {
            padding: 0 0 6rem 0;
        }

        .about-header {
            background-color: #18181c;
            margin-top: -6.25rem;
            padding-top: 6.25rem;
            padding: 6.25rem var(--padding-side) 4rem var(--padding-side);
            margin-bottom: 8rem;
        }

        .header-inner {
            position: relative;
            max-width: var(--content-width);
            margin: 0 auto;
            margin-top: 8rem;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 2rem;
        }

        .about-main {
            padding: 0 var(--padding-side);
        }

        .about-main-inner {
            max-width: var(--content-width);
            margin: 0 auto;
            font-size: 1.25rem;
            color: var(--color-secondary);
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 2rem;
        }

        .about-long-text {
            margin-bottom: 4rem;
        }

        .about-long-text p {
            margin-top: 0;
        }

        .about-main-inner a {
            color: var(--color-accent);
            border-bottom: 3px solid var(--color-accent);
            border-image-slice: 1;
            border-image-source: var(--gradient-primary);
        }

        .about-main-inner div {
            flex: 0 1 calc(50% - 1rem);
        }

        .about-header p {
            font-size: 1.25rem;
            color: var(--color-primary);
            line-height: 1.65;
            margin-bottom: 2rem;
        }

        .about-left {
            position: relative;
            flex: 1 1 calc(50% - 1rem);
            /* min-width: 25rem; */
        }

        .about-right {
            flex: 1 1 calc(50% - 1rem);
            aspect-ratio: 16 / 9;
        }

        .about-left h1 {
            margin-top: 0;
            font-size: 3rem;
            font-weight: 800;
            margin-bottom: 2rem;
            letter-spacing: -0.03rem;
            color: var(--color-accent);
        }

        .about-right video {
            width: 100%;
            border-radius: 0.5rem;
        }

        h2 {
            font-size: var(--font-size-lg);
            font-weight: var(--font-weight-bold);
            letter-spacing: var(--letter-spacing-1);
            color: var(--color-primary);
            margin-top: 0;
            margin-bottom: 2rem;
        }

        .about-attributes {
            max-width: 32rem;
        }

        .about-attributes :global(ul) {
            margin: 0;
            margin-bottom: 4rem;
        }

        .about-attributes :global(.skill-tags) {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
            list-style-type: none;
            padding: 0;
        }

        .about-attributes :global(.skill-tags li) {
            font-size: var(--font-size-sm);
            border: 1px solid var(--color-secondary);
            border-radius: 0.5rem;
        }

        .about-attributes :global(.skill-tags li a) {
            display: inline-block;
            /* background: var(--color-dark-2); */
            padding: 0.3rem 1rem;
            color: var(--color-secondary);
        }

        @media (max-width: 800px) {
            .about-main-inner {
                flex-direction: column-reverse;
            }

            .about-left,
            .about-right,
            .about-main-inner div {
                flex: 1 1 100%;
            }

            .about-main-inner {
                gap: 0;
                text-align: left;
            }
        }
    </style>
</Layout>
