---
import Layout from '../layouts/Global.astro';
import Email from "../components/Email.astro";
import Collapsible from "../components/Collapsible.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="About - Viktor Fejes">
    <div class="w-full max-w-xl">
        <div class="mb-16 [&>p]:mb-4 text-lg">
            <p>Hey, I'm Viktor — my work spans retouching, CGI, and custom tool development. Skills that often
            come together in unexpected ways to solve unique problems. I enjoy taking on projects that push boundaries
            and require thinking beyond standard solutions.</p>
            <p>I started as a retoucher in advertising, where I learned that the most interesting challenges
            often live in the details. This led me to dive deeper into color science and image processing,
            eventually writing my own tools to achieve effects that weren't possible with existing software.</p>
            <p>Today, I split my time between hands-on creative work and developing tools that help other artists
            work more efficiently. It's a unique combination that lets me approach each project from multiple angles.</p>
        </div>

        <section class="mb-16">
            <h2 class="text-lg font-semibold mb-4 dark:text-neutral-300">Work history</h2>
            <ul class="flex flex-col gap-4">
                <li class="border border-neutral-200 dark:border-neutral-900 rounded-lg p-4">
                    <Collapsible id="c-1">
                        <div slot="header" class="flex justify-between">
                            <div>
                                <h3 class="text-lg dark:text-neutral-300">Sr. Retoucher & Art Director</h3>
                                <a href="#" class="text-neutral-400 dark:text-neutral-500">Gild Studios</a>
                            </div>
                            <p class="text-right">2017 - present</p>
                        </div>
                        <div class="mt-4">
                            <p class="mb-4">Art directed and retouched advertising campaigns for high-profile clients. Work has appeared nationally
                            and internationally on OOH ads, in magazines, and online.</p>
                            <p>Incorporated CGI into regular retouching workflow to enhance and allow additional freedom
                            for creating fantastical environments and scenes.</p>
                        </div>
                    </Collapsible>
                </li>
                <li class="border border-neutral-200 dark:border-neutral-900 rounded-lg p-4">
                    <Collapsible id="c-2">
                        <div slot="header" class="flex justify-between">
                            <div>
                                <h3 class="text-lg dark:text-neutral-300">Retoucher</h3>
                                <a href="#" class="text-neutral-400 dark:text-neutral-500">Freelance</a>
                            </div>
                            <p class="text-right">2011 - 2017</p>
                        </div>
                        <p class="mt-4">Retouched digital images of celebrities and brands, while building a deep understanding
                        of color science, anatomy, and composition.</p>
                    </Collapsible>
                </li>
                <li class="border border-neutral-200 dark:border-neutral-900 rounded-lg p-4">
                    <Collapsible id="c-3">
                        <div slot="header" class="flex justify-between">
                            <div>
                                <h3 class="text-lg dark:text-neutral-300">Web Designer / Developer</h3>
                                <a href="#" class="text-neutral-400 dark:text-neutral-500">Freelance</a>
                            </div>
                            <p class="text-right">2006 - 2010</p>
                        </div>
                        <p class="mt-4">Designed and created websites and logos along with developing
                        frontend and backend engines and frameworks.</p>
                    </Collapsible>
                </li>
            </ul>
        </section>

        <section class="mb-16">
            <h2 class="text-lg font-semibold mb-4 dark:text-neutral-300">Clients</h2>
            <ul class="text-lg flex gap-x-2 gap-y-1 justify-start flex-wrap [&>li:not(:last-child)]:after:content-[',_']">
                <li>Amazon</li>
                <li>AT&T</li>
                <li>CBS</li>
                <li>Daiichi Sankyo</li>
                <li>DoorDash</li>
                <li>GSK</li>
                <li>Hasselblad</li>
                <li>Living Proof</li>
                <li>Lucid Motors</li>
                <li>Marie Claire</li>
                <li>SF MoMA</li>
                <li>Specsavers</li>
                <li>Unilever</li>
                <li>Variety</li>
                <li>WMF</li>
            </ul>
        </section>

        <section class="mb-16">
            <h2 class="text-lg font-semibold mb-4 dark:text-neutral-300">Contact</h2>
            <p class="mb-6">Got a query or just want to say hello? <Email class="underline underline-offset-4 decoration-2 dark:text-neutral-300">Drop me a line!</Email></p>
            <ul class="flex gap-2">
                <li>
                    <a href="https://github.com/viktorfejes" target="_blank" rel="noopener noreferrer" class="bg-neutral-200 dark:bg-neutral-800 dark:text-neutral-300 rounded-full px-2 py-1 flex items-center gap-1">Github <Icon name="mdi:arrow-top-right" /></a>
                </li>
                <li>
                    <a href="https://instagram.com/vfejes" target="_blank" rel="noopener noreferrer" class="bg-neutral-200 dark:bg-neutral-800 dark:text-neutral-300 rounded-full px-2 py-1 flex items-center gap-1">Instagram <Icon name="mdi:arrow-top-right" /></a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/viktorfejes/" target="_blank" rel="noopener noreferrer" class="bg-neutral-200 dark:bg-neutral-800 dark:text-neutral-300 rounded-full px-2 py-1 flex items-center gap-1">LinkedIn <Icon name="mdi:arrow-top-right" /></a>
                </li>
            </ul>
        </section>
    </div>
</Layout>
