---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Viktor Fejes - False color utility LUTs">
    <article class="luts">
        <div class="header-illustration">
            <div class="box">
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="layer"></div>
                <div class="top"></div>
                <div class="middle"></div>
                <div class="bottom"></div>
            </div>
        </div>
        <div class="header">
            <h1 class="title">Arcane magic for your images.</h1>
        </div>
    </article>
</Layout>

<style>
    .title {
        text-align: center;
        font-size: var(--font-size-5xl);
        font-weight: var(--font-weight-medium);
        letter-spacing: var(--letter-spacing-tight);
        line-height: 1.1;
        max-width: 14ch;
        margin-left: auto;
        margin-right: auto;
    }

    .header-illustration {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .box {
		/* width: 362.039px; */
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

        --side-gradient: linear-gradient(
            -45deg,
            #D2AC47 47%,
            #F7EF8A 50%,
            #AE8625 54%);
	}

	.top {
		position: relative;
		width: 16rem;
		height: 16rem;
        background: linear-gradient(-200deg, rgb(104, 111, 120) 40%, rgb(165, 170, 177));
		/* background: url("images/_Q9V4746_2048.jpg"); */
        background-size: 160%;
        background-position: center;
        background-repeat: no-repeat;
		border-radius: 1rem;
		transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
		transform-style: preserve-3d;
		z-index: 3;
		border-left: 2px solid rgba(255, 255, 255, 0.25);
		border-top: 2px solid rgba(255, 255, 255, 0.25);
		border: 2px solid rgba(255, 255, 255, 0.25);
		/* box-shadow:
			0 0 2px rgba(108, 213, 255, 0.8),
			0 0 5px rgba(171, 214, 255, 0.5),
			0 0 10px rgba(149, 218, 255, 0.5),
			0 0 20px rgba(135, 213, 255, 0.6),
			0 0 40px rgba(121, 190, 255, 0.6),
			0 0 80px rgba(174, 221, 255, 0.5),
			0 0 160px rgba(131, 187, 255, 0.5); */
	}

	.middle {
		position: absolute;
		width: 349px;
		height: 2rem;
		background: red;
		z-index: 2;
		top: 8rem;
		background: linear-gradient(-90deg, rgb(30, 42, 56) 44%, rgb(106, 108, 118) 54%, rgb(82, 89, 98) 56%);
	}

	.bottom {
		position: absolute;
		width: 16rem;
		height: 16rem;
		background: rgb(60, 60, 60);
		border-radius: 1rem;
		transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
		top: 2rem;
		background: linear-gradient(-45deg, rgb(30, 42, 56) 47%, rgb(164, 166, 174) 50%, rgb(82, 89, 98) 54%);
		z-index: 1;
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.5),
            0 0 512px rgba(234, 238, 255, 0.6);
	}
</style>