---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import ProjectsNew from "../components/ProjectsNew.astro";
import GLTest from "../components/GLTest.astro";
---

<Layout title="Viktor Fejes">
	<!-- <GLTest /> -->
	<section class="w-full max-w-8xl px-4 md:px-8 mt-48 md:mt-64">
		<Hero />
	</section>
	<section class="w-full max-w-8xl px-4 md:px-8 mt-24 md:mt-64">
		<ProjectsNew />
	</section>
</Layout>
