---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
---

<Layout title="Viktor Fejes">
	<section class="w-full max-w-8xl px-4 md:px-8 mt-48 2xl:mt-64">
		<Hero />
	</section>
	<section class="w-full max-w-8xl px-4 md:px-8 mt-24 2xl:mt-64">
		<Projects />
	</section>
</Layout>
