---
const { beforeSrc, afterSrc } = Astro.props;
---

<div class="before-after-slider">
    <img class="before-image" src={beforeSrc} alt="Before image...">
    <div class="after-container" id="after" style=`background-image:url(${afterSrc})`></div>
    <input type="range" name="slider" id="slider" class="slider" min="0" max="100" value="80" step="1">
    <!-- <div class="slider-arrows"></div> -->
</div>

<style>
    .before-after-slider {
        position: relative;
        /* border-radius: 0.5rem; */
        overflow: hidden;
    }

    .before-image {
        position: relative;
        z-index: 0;
    }

    .after-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: contain;
        clip-path: rect(0% 80% 100% 0%);
        z-index: 1;
    }

    .slider {
        position: absolute;
        z-index: 5;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        appearance: none;
        -webkit-appearance: none;
        width: 100%;
        height: 100%;
        outline: none;
        margin: 0;
        background: none;
        cursor: grab;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 0.5rem;
        height: 100rem;
        margin-top: -50rem;
        background-color: black;
    }
    
    .slider::-moz-range-thumb {
        width: 0.5rem;
        height: 100%;
        border-radius: 0;
        border: 0;
        background-color: black;
    }

    .slider:active::-webkit-slider-thumb {
        cursor: grabbing;
    }
    .slider:active::-moz-range-thumb {
        cursor: grabbing;
    }

    .slider-arrows {
        position: absolute;
        width: 2.5rem;
        height: 1rem;
        top: calc(50% - 0.5rem);
        left: calc(80% - 1.25rem);
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        pointer-events: none;
    }

    .slider-arrows::before {
        content: "";
        display: block;
        width: 0.75rem;
        height: 0.75rem;
        background-color: black;
        clip-path: polygon(0% 50%, 100% 100%, 100% 0%);
    }

    .slider-arrows::after {
        content: "";
        display: block;
        width: 0.75rem;
        height: 0.75rem;
        background-color: black;
        clip-path: polygon(100% 50%, 0% 0%, 0% 100%);
    }
</style>

<script>
    const beforeAfterEls = document.querySelectorAll(".before-after-slider");

    beforeAfterEls.forEach((mainEl) => {
        ["input", "change"].forEach(function(event) {
            mainEl.querySelector(".slider").addEventListener(event, (e) => {
                const sliderPos = e.target.value;
                mainEl.querySelector(".after-container").style.clipPath = `rect(0% ${sliderPos}% 100% 0%)`;
                // mainEl.querySelector(".slider-arrows").style.left = `calc(${sliderPos}% - 1.25rem)`;
            });
        });
    });
</script>