---
const { href, id, light } = Astro.props;

const buttonClass = light ? "btn light" : "btn";
---

<a href={ href } id={id} class={buttonClass} role="button"><slot /></a>

<style is:global>
    .btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: auto;
        font-size: var(--font-size-base);
        font-weight: 600;
        color: var(--color-neutral-100);
        background: var(--color-neutral-800);
        border-radius: 0.33rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        height: 2.8rem;
        transition: background 0.2s;
        pointer-events: auto;
    }

    .btn.light {
        background: transparent;
        color: var(--color-neutral-900);
        padding: 0;
    }

    .btn.light::after {
        font-family: "vf-icons";
        font-size: var(--font-size-sm);
        font-weight: 100;
        content: "\e803";
        margin-top: 0.19rem;
        margin-left: 0.5rem;
    }

    .btn:hover {
        background: var(--color-neutral-900);
    }
</style>