<div class="caption"><slot /></div>

<style>
    .caption {
        width: 100%;
        text-align: center;
        font-size: 1rem;
        color: var(--tertiary-color);
        margin: 0;
        margin-bottom: 2rem;
        margin-top: 0.825rem;
    }
</style>
