---
const { height } = Astro.props;
---
<li class="scroll-item">
    <slot />
</li>

<style define:vars={{height}}>
    .scroll-item {
        scroll-snap-align: center;
        height: var(--height);
    }

    /* This is for when we have an image directly in the carousel */
    .scroll-item > :global(img) {
        border-radius: 0.5rem;
        max-width: none;
        width: auto;
        height: 100%;
        margin: 0;
    }
</style>