<div class="scroll-container mb-16">
    <div class="item-container">
        <ul class="card-set">
            <slot />
        </ul>
    </div>
</div>

<style>
    .scroll-container {
        position: relative;
        overflow-x: scroll;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        scroll-padding: 0 24px;
    }
    
    .item-container {
        min-width: fit-content;
        padding-left: 50%;
        padding-right: 100vw;
    }

    .card-set {
        display: flex;
        width: auto;
        gap: 1rem;
    }
</style>

<script is:inline>
    const cardSet = document.querySelector(".card-set");
    cardSet.firstChild.classList.add("current");
</script>