---
interface Props {
    cols: number;
}

const { cols } = Astro.props;
---

<div class={`content-flex cols-${cols}`}>
    <slot />
</div>

<style>
    .content-flex {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 2rem;
    }

    .content-flex.cols-2 > :global(*) {
        flex: 1 1 calc(50% - 1rem);
    }

    .content-flex.cols-3 > :global(*) {
        flex: 1 1 30%;
    }

    .content-flex.cols-4 > :global(*) {
        flex: 1 1 22%;
    }

    @media (max-width: 768px) {
        .content-flex > * {
            flex: 1 1 100%;
        }
    }
</style>
