<div class="dot-container"></div>

<script is:inline data-astro-rerun>
    document.addEventListener(
        "astro:page-load",
        () => {
            const container = document.querySelector(".dot-container");
            const colors = [
                "#89102e",
                "#fd4e43",
                "#feae66",
                "#ffed81",
                "#ccd58a",
                "#129d8a",
                "#065264",
            ];
            const amount = 8;
            const clump = 0.4;

            let dotPos = [];

            function spawnDot() {
                const windowWidth = window.innerWidth;
                const windowHeight = window.innerHeight;
                const rand = Math.random();

                const dot = document.createElement("div");
                dot.classList.add("dot");
                dot.style.background = colors[Math.floor(rand * colors.length)];
                dot.style.transform = `rotate(${rand * 360}deg) scale(${rand * 0.5 + 0.5})`;

                let x, y;

                if (dotPos.length > 0) {
                    const offset = 600 * (1 - clump);
                    const offsetX = Math.random() * offset - offset / 2;
                    const offsetY = Math.random() * offset - offset / 2;

                    const pos =
                        dotPos[Math.floor(Math.random() * dotPos.length)];
                    x = pos[0] + offsetX;
                    y = pos[1] + offsetY;
                } else {
                    x = rand * 100 + windowWidth / 2;
                    y = rand * 100;
                }

                dot.style.left = `${x}px`;
                dot.style.top = `${y}px`;
                dotPos.push([x, y]);

                container.appendChild(dot);
            }

            for (let i = 0; i < amount; i++) {
                spawnDot();
            }

            function moveDots() {
                container.childNodes.forEach((dot) => {
                    const rand = Math.random();
                    const x = parseFloat(dot.style.left);
                    const y = parseFloat(dot.style.top);

                    dot.style.left = `${x + (rand - 0.5) * 100}px`;
                    dot.style.top = `${y + (rand - 0.5) * 100}px`;
                    dot.style.transform = `rotate(${rand * 360}deg) scale(${rand * 0.5 + 0.5})`;
                });
            }

            setInterval(() => {
                moveDots();
            }, 2000);
        },
        { once: true },
    );
</script>

<style is:global>
    .dot-container {
        position: relative;
        filter: blur(5rem);
        pointer-events: none;
        z-index: -1;
    }

    .dot {
        position: absolute;
        width: 12rem;
        height: 20rem;
        display: block;
        z-index: -200;
        border-radius: 50%;
        mix-blend-mode: color-dodge;
        /* filter: blur(3rem); */
        transition: all 2s linear;
    }
</style>
