---
import { Icon } from "astro-icon/components";

const today = new Date();
---

<footer class="px-4 py-8 flex justify-center">
    <div class="flex w-full max-w-xl justify-between items-center">
        <div class="">
            &copy; {today.getFullYear()} Viktor Fejes
        </div>
        <div class="text-xl flex justify-end">
            <a href="https://github.com/viktorfejes/" target="_blank" rel="noopener noreferrer" class="rounded-full hover:bg-neutral-200 dark:hover:bg-neutral-800 p-2"><Icon name="mdi:github" /></a>
            <a href="https://instagram.com/vfejes" target="_blank" rel="noopener noreferrer" class="rounded-full hover:bg-neutral-200 dark:hover:bg-neutral-800 p-2"><Icon name="mdi:instagram" /></a>
        </div>
    </div>
</footer>
