<footer>
    <div class="footer-inner">
        <div class="line"></div>
        <div class="data">
            <p class="cr">
                Copyright © Viktor Fejes 2024
            </p>
            <p></p>
            <a class="back-to-top" href="#"><svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" clip-rule="evenodd" viewBox="0 0 172 170">
                <path d="M96.163 170H75.557V39.445L14.57 100.431.001 85.86 85.86 0l85.86 85.86-14.571 14.57-60.986-60.985V170Z"/>
              </svg>          
               <span>Back to top</span></a>
        </div>
    </div>
</footer>

<style>
    footer {
        margin-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--font-size-lg);
        color: var(--color-neutral-900);
        font-weight: var(--font-weight-regular);
    }
    
    .footer-inner {
        width: 100%;
        max-width: var(--max-width-xl);
        padding: var(--padding-page-left);
        /* display: flex; */
    }
    
    .data {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .footer-inner .line {
        width: 100%;
        height: 2px;
        background: var(--color-neutral-900);
        margin-bottom: var(--padding-page-left);
    }

    .footer-inner svg {
        display: block;
        width: 1rem;
        fill: white;
        align-self: center;
    }

    .back-to-top {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
    }
</style>