<footer>
    <div class="footer-inner">
        Copyright © 2024 Viktor Fejes, Los Angeles, CA
    </div>
</footer>

<style>
    footer {
        border-top: 1px solid var(--color-neutral-200);
        padding: 2rem;
        margin-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: var(--font-size-base);
        color: var(--color-neutral-300);
        font-weight: 600;
    }

    .footer-inner {
        width: 100%;
        max-width: var(--max-width-lg);
    }
</style>