---
const { pathname } = Astro.url;
---

<header class="site-header">
    <nav class="site-nav">
        <a href="/" class="site-logo">
            <svg viewBox="0 0 678 678">
                <path d="M607.241 139.965H239.288l99.324 198.647 81.211-162.423h169.306L338.612 677.223 0 0h677.223l-69.982 139.965z">
                </path>
            </svg>
        </a>
        <ul class="site-links">
            <li><a href="/" class={pathname === "/" ? "active" : ""}>Home</a></li>
            <li><a href="/blog" class={pathname.startsWith("/blog") ? "active" : ""}>Blog</a></li>
        </ul>
    </nav>
</header>

<style>
    .site-header {
        position: sticky;
        top: 0;
        width: 100%;
        height: var(--header-height);
        padding: 0 2rem;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-bottom: 8rem; */
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        background: rgba(0, 0, 0, 0.33);
        backdrop-filter: blur(24px) saturate(140%);
    }

    .site-nav{
        width: 100%;
        /* max-width: 65rem; */
		max-width: var(--max-width-md);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .site-logo {
        display: block;
        width: 1.5rem;
        fill: var(--color-neutral-900);
    }

    .site-links {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 2rem;
        font-size: var(--font-size-base);
        font-weight: var(--font-weight-medium);
        color: var(--color-neutral-900);
    }

    .site-links li a {
        opacity: 0.5;
        text-decoration: none;
        transition: all 0.2s;
    }

    .site-links li a:hover {
        opacity: 0.8;
    }
    
    .site-links li a.active {
        opacity: 1;
    }
</style>