<header class="site-header">
    <nav class="main-navigation">
        <a href="/" class="logo">
            <svg viewBox="0 0 678 678"
                ><path
                    d="M607.241 139.965H239.288l99.324 198.647 81.211-162.423h169.306L338.612 677.223 0 0h677.223l-69.982 139.965z"
                ></path></svg
            >
        </a>
        <ul class="nav-list">
            <li><a href="/case-studies">Case Studies</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/journal">Journal</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="mailto:viktor@viktorfejes.com">Contact</a></li>
        </ul>
        <div class="nav-hamburger-group">
            <input type="checkbox" name="hamburger-opener" id="hambox" />
            <label for="hambox" class="hamburger-btn">
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
                <span class="hamburger-line"></span>
            </label>

            <div class="hidden-nav-container">
                <ul class="hidden-nav">
                    <li><a href="/case-studies">Case Studies</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/journal">Journal</a></li>
                    <li><a href="/projects">Projects</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<style>
    .site-header {
        width: 100%;
        height: 5rem;
        padding: 0 var(--padding-side);
    }

    .main-navigation {
        /* padding: 0 2rem; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        max-width: var(--content-width);
        margin: 0 auto;
    }

    .nav-list {
        display: flex;
        gap: 2rem;
    }

    .nav-list li {
        list-style: none;
    }

    .nav-list li a {
        text-decoration: none;
        color: var(--primary-color);
        color: var(--tertiary-color);
        font-size: 1rem;
        font-weight: 400;
        transition: color 0.3s ease;
    }

    .nav-list li a:hover {
        color: var(--primary-color);
    }

    .nav-hamburger-group {
        display: none;
    }

    #hambox {
        display: none;
    }

    .hamburger-btn {
        position: relative;
        cursor: pointer;
        user-select: none;
        display: block;
        width: 2rem;
        height: 1.5rem;
        overflow: hidden;
        z-index: 11;
    }

    .hamburger-line {
        position: absolute;
        display: block;
        width: 100%;
        height: 3px;
        background: var(--color-primary);
        border-radius: 2px;
        transition: all 0.3s ease;
        width: 85%;
        right: 0;
    }

    .hamburger-line:nth-child(1) {
        /* background: #ff1886; */
        top: 0;
    }

    .hamburger-line:nth-child(2) {
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        /* background: #fce844; */
    }

    .hamburger-line:nth-child(3) {
        bottom: 0;
        /* background: #35b2ef; */
    }

    #hambox:checked + .hamburger-btn .hamburger-line:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        /* background: var(--gradient-primary); */
    }

    #hambox:checked + .hamburger-btn .hamburger-line:nth-child(2) {
        transform: translateX(100%);
    }

    #hambox:checked + .hamburger-btn .hamburger-line:nth-child(3) {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
        /* background: var(--gradient-primary); */
    }

    .hidden-nav-container {
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.3s ease;
        background: var(--color-dark-2);
        width: 100%;
        height: auto;
        padding: 0 var(--padding-side);
    }

    #hambox:checked ~ .hidden-nav-container {
        transition: max-height 1s ease;
        max-height: 100%;
    }

    .hidden-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        padding: 2rem 0;
        list-style: none;
        margin: 4rem 0 0 0;
    }

    .hidden-nav li {
        width: 100%;
        text-align: center;
    }

    .hidden-nav li a {
        border-radius: 0.5rem;
        background: var(--color-dark-3);
        display: block;
        width: 100%;
        padding: 1rem 0;
        color: var(--color-primary);
        font-size: 1.2rem;
        font-weight: 400;
        text-decoration: none;
        transition:
            color 0.3s ease,
            background 0.3s ease;
    }

    .hidden-nav li a:hover {
        color: var(--color-dark-1);
        background: var(--color-accent);
    }

    .logo {
        display: block;
        width: 3rem;
        height: 3rem;
        background: var(--color-primary);
        border-radius: 50%;
        padding: 0.9rem 0.75rem 0.75rem;
        z-index: 11;
    }

    .logo svg {
        display: block;
        fill: var(--color-dark-1);
    }

    :global(body.light) .logo {
        background: var(--color-dark-1);
    }

    :global(body.light) .logo svg {
        fill: var(--color-primary);
    }

    @media (max-width: 720px) {
        .nav-list {
            display: none;
        }
        .nav-hamburger-group {
            display: block;
        }
    }
</style>
