---
import OverlayMenu from "./OverlayMenu.astro";

const { pathname } = Astro.url;
---
<Fragment>
<header class="fixed top-0 w-full h-32 z-30 flex place-content-center place-items-center mix-blend-difference">
    <nav class="w-full flex items-center justify-between px-4 md:px-8 max-w-8xl">
        <a href="/" class="block w-[1.875rem] text-neutral-50">
            <svg class="fill-current" viewBox="0 0 678 678">
                <path d="M607.241 139.965H239.288l99.324 198.647 81.211-162.423h169.306L338.612 677.223 0 0h677.223l-69.982 139.965z">
                </path>
            </svg>
        </a>
        <div class="w-full max-w-[66.66%] md:flex justify-between hidden">
            <ul class="flex justify-end gap-8 text-2xl">
                <li class="relative group">
                    <a href="/">Overview</a>
                    <div class=`transition duration-300 ease absolute block -bottom-1 w-full h-0.5 bg-slate-50 origin-left group-hover:scale-100 ${pathname === "/" ? "scale-100" : "scale-0"}`></div>
                </li>
                <li class="relative group">
                    <a href="/about">About me</a>
                    <div class=`transition duration-300 ease absolute block -bottom-1 w-full h-0.5 bg-slate-50 origin-left group-hover:scale-100 ${pathname.startsWith("/about") ? "scale-100" : "scale-0"}`></div>
                </li>
            </ul>
            <ul class="flex justify-end gap-8 text-2xl">
                <li class="relative group">
                    <a href="/blog">Blog</a>
                    <div class=`transition duration-300 ease absolute block -bottom-1 w-full h-0.5 bg-slate-50 origin-left group-hover:scale-100 ${pathname.startsWith("/blog") ? "scale-100" : "scale-0"}`></div>
                </li>
            </ul>
        </div>
    </nav>
</header>

<OverlayMenu />
</Fragment>
