---
const { pathname } = Astro.url;
---

<header class="site-header">
    <nav class="site-nav">
        <a href="/" class="site-logo">
            <svg viewBox="0 0 678 678">
                <path d="M607.241 139.965H239.288l99.324 198.647 81.211-162.423h169.306L338.612 677.223 0 0h677.223l-69.982 139.965z">
                </path>
            </svg>
        </a>
        <ul class="site-links">
            <li><a href="/projects" class={pathname.startsWith("/projects") ? "active" : ""}>Projects</a></li>
            <li><a href="/about" class={pathname.startsWith("/about") ? "active" : ""}>About me</a></li>
            <li><a href="/blog" class={pathname.startsWith("/blog") ? "active" : ""}>Blog</a></li>
        </ul>
        <ul class="site-links">
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>

<style>
    .site-header {
        position: fixed;
        top: 0;
        width: 100%;
        height: var(--header-height);
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        mix-blend-mode: difference;
    }

    .site-nav{
        width: 100%;
		max-width: var(--max-width-xl);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 var(--padding-page-left);
    }

    .site-logo {
        display: block;
        width: 1.875rem;
        fill: var(--color-neutral-900);
    }

    .site-links {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 2rem;
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-regular);
        color: var(--color-neutral-900);
    }

    .site-links li a {
        position: relative;
        text-decoration: none;
        transition: all 0.2s;
    }

    .site-links li a::after {
        position: absolute;
        bottom: -0.2rem;
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: var(--color-neutral-900);
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
    }

    .site-links li a:hover::after {
        transform: scaleX(1);
    }
    
    .site-links li a.active::after {
        transform: scaleX(1);
    }
</style>