---
import { Image } from "astro:assets";
import { Sun } from "@lucide/astro";
import Navigation from "../components/Navigation.astro";
import ThemeSwitcher from "../components/ThemeSwitcher.astro";
import Email from "../components/Email.astro";

import ProfilePic from "../assets/viktorfejes_profile.jpg";

const {type} = Astro.props;
---

<header class="flex items-center flex-col px-4 sm:px-6 mt-16 mb-16">
    <div class="w-full max-w-xl">
        <div class="mt-16 mb-8">
            <div class="flex items-center justify-between mb-12">
                <div class="flex gap-4 items-center">
                    <div class="relative w-[4.5rem] h-[4.5rem] rounded-md overflow-hidden">
                        <Image 
                            class="absolute object-cover object-center w-full h-full"
                            src={ProfilePic}
                            alt="Portrait of Viktor Fejes"
                            loading="eager"
                        />
                    </div>
                    <div class="">
                        <h1 class="text-lg/6 font-medium text-neutral-950 dark:text-neutral-300">Viktor Fejes</h1>
                        <p class="text-neutral-400 dark:text-neutral-600 pr-4">Retoucher & <span class="whitespace-nowrap">Graphics Engineer</span></p>
                    </div>
                </div>
                <ThemeSwitcher />
            </div>

            {type !== "short" &&
                <p class="text-lg mb-8">With a passion for color science, simplicity, and figuring out how things work at a
                lower level I retouch images, art direct projects, and develop tools and real-time graphical applications.</p>
                <div class="flex items-center gap-3">
                    <div class="pulsar">
                        <div class="animating-circle"></div>
                        <div class="static-circle"></div>
                    </div>
                    <div class="text-neutral-400 dark:text-neutral-500">
                        Currently available for new projects. <Email class="underline dark:text-neutral-400">Get in touch</Email>
                    </div>
                </div>
            }
        </div>
        <Navigation />
    </div>
</header>

<style>
    .pulsar {
        display: grid;
        width: 1rem;
        height: 1rem;
    }    

    .static-circle,
    .animating-circle {
        grid-row: 1;
        grid-column: 1;
        background: #6eda7f;
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }

    .static-circle {
        transform: scale(0.5);
    }

    .animating-circle {
        transform: scale(0.5);
        opacity: 0.4;
        animation-name: pulse;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: cubic-bezier(.2,.4,.45,1);
    }

    @keyframes pulse {
        from {
            transform: scale(0.5);
            opacity: 0.4;
        }
        to {
            transform: scale(1.0);
            opacity: 0.2;
        }
    }
</style>
