<div class="w-full">
    <h1 class="text-6xl font-medium max-w-[24ch] leading-tight">Retoucher and Technical Artist — helping brands solve complex <u>visual challenges</u> through art and custom tools.</h1>
</div>
