---
import Button from "./Button.astro"
---

<div class="hero">
    <h1 class="intro-headline">Digital artist + engineer, creating visuals and tools.</h1>
    <!-- <p class="intro-text">Using my expertise in design, image processing, color science, and programming I have solved problems for my clients the past 15 years in the advertising, editorial, and gaming industries.</p> -->

    <div class="hero-subtitle">
        <div class="hero-sub-inner">
            <p>I’m an image processing expert who combines art with technical innovation.</p>
            <p>I solve complex visual challenges for clients who need more than standard solutions.</p>
        </div>
    </div>
</div>

<style>
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: calc(90vh - var(--header-height));
        /* text-align: center; */
    }

    .hero-subtitle {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .hero-sub-inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: 2;
        gap: 1rem;
    }

    .hero-sub-inner p {
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-regular);
        line-height: 1.38;
    }
    
    .intro-headline {
        /* font-family: "Work Sans"; */
        font-size: var(--font-size-7xl);
        /* font-size: 5.25rem; */
        font-weight: var(--font-weight-semibold);
        font-weight: 600;
        line-height: 1;
        letter-spacing: var(--letter-spacing-tight);
        letter-spacing: -0.025em;
        margin-bottom: 4rem;
        color: var(--color-neutral-900);
        max-width: 20ch;
        /* margin-left: auto; */
        /* margin-right: auto; */
    }
    
    .intro-text {
        /* font-family: "Work Sans"; */
        max-width: var(--max-width-sm);
        font-size: var(--font-size-lg);
        font-size: var(--font-size-xl);
        line-height: 1.45;
        margin-bottom: 2.5rem;
        color: var(--color-neutral-600);
        color: var(--color-neutral-900);
        max-width: 48ch;
        font-weight: var(--font-weight-medium);
        font-weight: 300;
        /* margin-left: auto; */
        /* margin-right: auto; */
    }

    .cta {
        display: flex;
        gap: 2rem;
    }

    .quick-search {
        display: flex;
        place-items: center;
        background: var(--color-neutral-200);
        /* border: 1px solid var(--color-neutral-200); */
        border-top: 1px solid var(--color-neutral-300);
        /* border: 1px solid var(--color-neutral-300); */
        width: 18rem;
        height: 3rem;
        border-radius: 0.5rem;
        padding-right: 1rem;
        padding-left: 1rem;
    }

    .search-icon {
        width: 1.125rem;
        flex: none;
        color: var(--color-neutral-400);
    }

    .placeholder {
        text-align: left;
        flex: 1 1 auto;
        margin-left: 0.75rem;
        color: var(--color-neutral-800);
    }

    .shortcut {
        font-family: var(--font-primary);
        font-size: var(--font-size-sm);
        font-weight: var(--font-weight-regular);
        color: var(--color-neutral-900);
        background: var(--color-neutral-300);
        border-radius: 0.25rem;
        width: 1.25rem;
    }

    .shortcut abbr {
        text-decoration: none;
    }
</style>