---
import Img from "./Img.astro"
---

<div class="cta">
    <a href="#">View case studies</a>
    <div class="arrow">
        <span>(SCROLL)</span>
    </div>
</div>
<div class="slider">
    <div class="slider-inner">
        <div class="slide">
            <div class="slide-image">
                <Img
                    src="gildstudios-acuramdx-1_Zwm7ek.jpg"
                    alt="hello"
                    dir=""
                />
            </div>
            <div class="slider-nav">
                <div class="info">
                    <p class="title">Acura MDX</p>
                    <p class="client">(Personal)</p>
                </div>
                <div class="nav">
                    <div class="nav-arrows">
                        <div class="arrow left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
                        </div>
                        <div class="arrow right">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="slide-image">
                <Img
                    src="gildstudios-doordash-2.jpg"
                    alt="hello"
                    dir=""
                />
            </div>
            <div class="slider-nav">
                <div class="info">
                    <p class="title">Support The Neighborhood</p>
                    <p class="client">(DoorDash)</p>
                </div>
                <div class="nav">
                    <div class="nav-arrows">
                        <div class="arrow left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
                        </div>
                        <div class="arrow right">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="slide-image">
                <Img
                    src="gildstudios-acuramdx-1_Zwm7ek.jpg"
                    alt="hello"
                    dir=""
                />
            </div>
            <div class="slider-nav">
                <div class="info">
                    <p class="title">Support The Neighborhood</p>
                    <p class="client">(DoorDash)</p>
                </div>
                <div class="nav">
                    <div class="nav-arrows">
                        <div class="arrow left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
                        </div>
                        <div class="arrow right">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide">
            <div class="slide-image">
                <Img
                    src="gildstudios-acuramdx-1_Zwm7ek.jpg"
                    alt="hello"
                    dir=""
                />
            </div>
            <div class="slider-nav">
                <div class="info">
                    <p class="title">Support The Neighborhood</p>
                    <p class="client">(DoorDash)</p>
                </div>
                <div class="nav">
                    <div class="nav-arrows">
                        <div class="arrow left">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="m12 19-7-7 7-7"/><path d="M19 12H5"/></svg>
                        </div>
                        <div class="arrow right">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .cta {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 2rem;
        font-size: var(--font-size-lg);
        margin-left: auto;
        margin-right: auto;
        max-width: var(--max-width-xl);
    }

    .slide-image {
        position: relative;
        border-radius: 0.5rem;
        overflow: hidden;
        padding-top: 66.66%;
    }

    .slide-image :global(img),
    .slide-image :global(video) {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .cta a {
        text-decoration: underline;
        text-underline-offset: 0.45em;
        word-wrap: nowrap;
    }

    .arrow {
        display: flex;
        justify-content: flex-end;
    }

    .icon {
        width: 1.5em;
        height: 1.5em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon svg {
        stroke: white;
        width: 100%;
    }
    
    .slider {
        position: relative;
        /* width: 100%; */
        overflow-x: scroll;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
        scroll-padding: 0 24px;
    }

    .slider-inner {
        /* min-width: 100%; */
        display: flex;
        overflow: hidden;
        gap: 1em;
        cursor: grab;
    }

    .slide {
        max-width: 40%;
        min-width: 40%;
    }

    .slider-nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-top: 1em;
    }

    .info {
        /* display: flex; */
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
        gap: 1em;
    }

    .nav-arrows {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1em;
    }

    .nav .arrow {
        width: 1.5em;
        height: 1.5em;
    }

    .arrow svg {
        width: 100%;
    }

    .client {
        font-size: var(--font-size-xl);
        color: var(--color-neutral-900);
    }
    
    .title {
        /* text-decoration: underline; */
        text-underline-offset: 0.3em;
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-regular);
        color: var(--color-neutral-900);
    }
</style>