<div class="carousel-item">
    <div class="push"></div>
    <slot />
</div>

<style>
    .carousel-item {
        position: relative;
        overflow: hidden;
        border-radius: 0.5rem;
    }

    .push {
        padding-top: 66.66%;
    }

    .carousel-item :global(img),
    .carousel-item :global(video) {
        position: absolute;
        top: -1px;
        left: -1px;
        object-fit: cover;
        width: calc(100% + 2px);
        height: calc(100% + 2px);
    }
</style>