<div>
    <div class="main-intro">
        <div class="intro-inner">
            <h2>
                Hey, I'm Viktor Fejes, a <span class="rainbow-bg"
                    ><span class="red-shadow">Digital</span> Artist & <span
                        class="blue-shadow">Developer</span
                    ></span
                > from Los Angeles, CA.
            </h2>
        </div>
    </div>
</div>

<style>
    .blue-shadow {
        text-shadow: rgba(53, 178, 239, 0.5) 2.5rem -2rem 8rem;
    }
    .red-shadow {
        text-shadow: rgba(255, 24, 134, 0.5) -2.5rem 2rem 8rem;
    }

    .main-intro {
        position: relative;
        width: 100%;
        padding: 0 2rem;
    }

    .main-intro h2 {
        color: var(--primary-color);
        font-size: 6rem;
        margin-bottom: 2rem;
        font-weight: 800;
        font-weight: 800;
        line-height: 1.2;
    }

    .intro-inner {
        width: 100%;
        max-width: var(--content-width);
        margin: 8rem auto 10rem auto;
    }

    @media (max-width: 970px) {
        .main-intro h2 {
            font-size: 4rem;
        }
    }

    @media (max-width: 520px) {
        .main-intro h2 {
            font-size: 3rem;
        }
    }
</style>
