---
import Button from "../components/Button.astro";
---

<div class="intro">
    <!-- <h2>Hi, I'm Viktor, a digital artist and developer, one enhancing the other.</h2> -->
    <h2 class="element-animate element-fade-in">Hi, I’m Viktor</h2>
    <h2 class="element-animate element-fade-in">I make <span id="text-carousel"><span id="text-carousel-inner">things.</span></span></h2>
    <p>I’m an artist and engineer solving problems in the fields of advertising, editorial, and gaming. Currently, I work at Gild Studios as the Creative Director.</p>

    <Button href="#">Get in touch</Button>
</div>
<!-- <div class="intro-text">
    <p>
        *I'm Viktor, a digital artist and developer making art, experiences, games, and software. 
    </p>
</div> -->

<style>
    .intro h2 {
        font-size: 3.998rem;
        font-weight: 600;
        line-height: 1.2;
        /* margin-bottom: 1.5rem; */
    }
    
    .intro p {
        font-size: 1.414rem;
        font-weight: 400;
        /* letter-spacing: -0.02rem; */
        color: rgb(150, 150, 152);
        line-height: 1.65;
        max-width: 50ch;
        margin-bottom: 3rem;
        margin-top: 1.5rem;
    }

    #text-carousel {
        display: inline-table;
        overflow: hidden;
        /* height: 64px; */
    }

    #text-carousel-inner {
        display: inline-block;
        animation: slide-up 0.3s ease-out forwards;
    }

    @keyframes slide-up {
        0% {
            transform: translateY(100%);
        }
        100% {
            transform: translateY(0);
        }
    }
</style>

<script>
    const textList = ["things", "art", "images", "games", "software", "tools", "bread", "experiences"];
    let index = 0;
    const textCarousel = document.getElementById("text-carousel-inner");

    function shuffleArray(arr: Array<string>) {
        for (let i = arr.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [arr[i], arr[j]] = [arr[j], arr[i]];
        }
        return arr;
    }

    function slideText() {
        textCarousel.textContent = textList[index] + ".";
        textCarousel.style.animation = "none";
        textCarousel.offsetHeight;
        textCarousel.style.animation = "";
        index = (index + 1) % textList.length;
    }

    shuffleArray(textList);
    setInterval(slideText, 3000);
    slideText();
</script>