---
import Img from "./Img.astro";
import Video from "./Video.astro";
import ProjectsItem from "./ProjectsItem.astro";
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4 lg:gap-8 grid-rows-[1fr auto auto auto]">
    <ProjectsItem title="DoorDash: Support The Neighborhood" client="DoorDash" href="/projects/support-the-neighborhood">
        <Img src="gildstudios-doordash-2.jpg" alt="" dir="case-studies/doordash" />
    </ProjectsItem>
    <ProjectsItem title="Bravo, Bravecto!" client="Bravecto" href="/projects/bravo-bravecto">
        <Img src="gildstudios-bravecto-commstill-1.jpg" alt="" dir="case-studies/bravo-bravecto" />
    </ProjectsItem>
    <ProjectsItem title="Hidden Horrors" client="Safe In Harm's Way" href="/projects/hidden-horrors">
        <Img src="gildstudios-hiddenhorrors-3.jpg" alt="Hidden Horrors" dir="case-studies/hidden-horrors" />
    </ProjectsItem>
    <ProjectsItem title="Tom Ford" client="Gild" href="/projects/tom-ford">
        <Img src="tom-ford-soleil-neige-1.jpg" alt="" dir="case-studies/tom-ford" />
    </ProjectsItem>
    <ProjectsItem title="Simple Brilliance" client="Lagos" href="/projects/lagos-jewelry">
        <Img src="gildstudios-lagos-1.jpg" alt="Simple Brilliance" dir="case-studies/lagos" />
    </ProjectsItem>
    <ProjectsItem title="Rolex Daytona" client="Gild" href="/projects/rolex-daytona">
        <Img src="rolex_daytona_01.jpg" alt="" dir="case-studies/rolex-daytona" />
    </ProjectsItem>
    <ProjectsItem title="Makes Us Family" client="GSK" href="/projects/makes-us-family">
        <Img src="gildstudios-gsk-1.jpg" alt="Makes Us Like Family" dir="case-studies/makes-us-family" />
    </ProjectsItem>
    <ProjectsItem title="CG Portraits" client="Collection" href="/projects/cg-portraits">
        <Img src="charDemon-Final-edited_smallFile-jpeg6.jpg" alt="CG Portraits" dir="case-studies/cg-portraits" />
    </ProjectsItem>
    <ProjectsItem title="Celebrities" client="Collection" href="/projects/celebrities">
        <Img src="gildstudios-edsheeran-2.jpg" alt="" dir="case-studies/celebrities" />
    </ProjectsItem>
    <ProjectsItem title="Chroma Scopes" client="Tool">
        <Video
            src="/videos/scopes_small.mp4"
            formats={["mp4"]}
            autoplay={true}
            muted={true}
            controls={false}
            loop={true}
        />
    </ProjectsItem>
    <ProjectsItem title="Acura MDX" client="Gild" href="/projects/acura-mdx">
        <Img src="gildstudios-acuramdx-1_Zwm7ek.jpg" alt="Acura MDX" dir="case-studies/acura-mdx" />
    </ProjectsItem>
    <ProjectsItem title="Flamin' Hot Wings" client="BWW" href="/projects/flamin-hot-wings">
        <Img src="gildstudios-bww-aja-1.jpg" alt="" dir="case-studies/flamin-hot-wings" />
    </ProjectsItem>
    <ProjectsItem title="See Art" client="SF MoMA" href="/projects/see-art">
        <Img src="gildstudios-seeart-1.jpg" alt="" dir="case-studies/see-art" />
    </ProjectsItem>
    <ProjectsItem title="Heart of the City" client="SIMS Foundation" href="/projects/heart-of-the-city">
        <Img src="gildstudios-heartofthecity-1.jpg" alt="" dir="case-studies/heart-of-the-city" />
    </ProjectsItem>
    <ProjectsItem title="Portraits" client="Collection" href="/projects/portraits">
        <Img src="gildstudios-sealife-1.jpg" alt="Portraits" dir="case-studies/portraits" />
    </ProjectsItem>
    <ProjectsItem title="LucidAir" client="Lucid Motors" href="/projects/lucid-air">
        <Img src="viktorfejes-lucidair-01.jpg" alt="" dir="case-studies/lucid-air" />
    </ProjectsItem>
    <ProjectsItem title="AT&T Thanks" client="AT&T" href="/projects/att-thanks">
        <Img src="gildstudios-att-thanks-2.jpg" alt="AT&T Thanks" dir="case-studies/att-thanks" />
    </ProjectsItem>
    <ProjectsItem title="The Incredible Egg" client="American Egg Board" href="/projects/the-incredible-egg">
        <Img src="gildstudios-incredibleegg-still-7.jpg" alt="" dir="case-studies/incredible-egg" />
    </ProjectsItem>
    <ProjectsItem title="My AT&T" client="AT&T" href="/projects/my-att">
        <Img src="gildstudios-myatt-thumb-2.jpg" alt="" dir="case-studies/my-att" />
    </ProjectsItem>
    <ProjectsItem title="Summer Escape" client="Escape Watches" href="/projects/summer-escape">
        <Img src="gildstudios-escape-1.jpg" alt="" dir="case-studies/summer-escape" />
    </ProjectsItem>
    <ProjectsItem title="Fruits" client="Specsavers" href="/projects/fruits">
        <Img src="gildstudios-fruitsavers-1.jpg" alt="" dir="case-studies/fruits" />
    </ProjectsItem>
    <ProjectsItem title="Conman" client="John Keatley" href="/projects/conman">
        <Img src="conman_thumb.jpg" alt="" dir="case-studies/conman" />
    </ProjectsItem>
</div>
