
<div class="work-grid">
    <slot />
</div>

<style>
    .work-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 6rem 1rem;
    }
    
	@media (max-width: 720px) {
        .work-grid {
            grid-template-columns: repeat(1, 1fr);
        }
	}
</style>