---
import WorkLayout from "../../layouts/WorkLayout.astro";
import Img from "../../components/Img.astro";
---

<WorkLayout title="Acura MDX" tags={["Look Development", "Compositing", "Photography"]}>
    <p slot="description">I was inspired by the Angeles Crest Canyon in Los Angeles and the 2022 Acura MDX to create a series of CGI images that showcase the car in a natural environment in the style of a car commercial.</p>

    <Fragment slot="body">
        <div class="flex flex-col gap-4">
            <Img src="gildstudios-acuramdx-1_Zwm7ek.jpg" alt="Acura MDX project still image" dir="case-studies/acura-mdx" />
            <Img src="gildstudios-acuramdx-2.jpg" alt="Acura MDX project still image" dir="case-studies/acura-mdx" />

            <div class="grid grid-cols-2 gap-4">
                <Img src="gildstudios-acuramdx-3.jpg" alt="Acura MDX project still image" dir="case-studies/acura-mdx" />
                <Img src="gildstudios-acuramdx-4.jpg" alt="Acura MDX project still image" dir="case-studies/acura-mdx" />
            </div>

            <Img src="gildstudios-acuramdx-clay-1.jpg" alt="Acura MDX clay image" dir="case-studies/acura-mdx" />
            <Img src="gildstudios-acuramdx-clay-2.jpg" alt="Acura MDX clay image" dir="case-studies/acura-mdx" />

            <Img src="gildstudios-acuramdx-hdr-1.jpg" alt="Acura MDX HDRi" dir="case-studies/acura-mdx" />
            <Img src="gildstudios-acuramdx-hdr-2.jpg" alt="Acura MDX HDRi" dir="case-studies/acura-mdx" />
        </div>
    </Fragment>
</WorkLayout>