---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import Img from "../../components/Img.astro";
import Video from "../../components/Video.astro";
---

<ProjectLayout title="Flamin' Hot Wings">
    <p slot="description">I worked with Martin Agency back-to-back on two campaigns for Buffalo Wild Wings featuring basketball superstars A’ja Wilson and Klay Thompson. The images I retouched showcase BWW’s partnership with Flamin’ Hot Nacho Doritos and Mountain Dew Legendary</p>

    <Fragment slot="body">
        <div class="flex flex-col gap-4">
            
        </div>
    </Fragment>
</ProjectLayout>