---
import WorkLayout from "../../layouts/WorkLayout.astro";
import Img from "../../components/Img.astro";
---

<WorkLayout title="Fruits" tags={["Retouching"]}>
    <p slot="description">I worked with Specsavers’ team to create a charming set of images for their new campaign. The images were depicting a variety of fruits wearing glasses, and were used in a variety of media, including print, digital and outdoor.</p>

    <Fragment slot="body">
        <div class="grid md:grid-cols-2 gap-4">
            <Img src="gildstudios-fruitsavers-1.jpg" alt="Specsavers Fruit" dir="case-studies/fruits" />
            <Img src="gildstudios-fruitsavers-2.jpg" alt="Specsavers Fruit" dir="case-studies/fruits" />
            <Img src="gildstudios-fruitsavers-3.jpg" alt="Specsavers Fruit" dir="case-studies/fruits" />
            <Img src="gildstudios-fruitsavers-4.jpg" alt="Specsavers Fruit" dir="case-studies/fruits" />
            <Img src="gildstudios-fruitsavers-5.jpg" alt="Specsavers Fruit" dir="case-studies/fruits" />
            <Img src="gildstudios-fruitsavers-6.jpg" alt="Specsavers Fruit" dir="case-studies/fruits" />
        </div>
    </Fragment>
</WorkLayout>