---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import Img from "../../components/Img.astro";
---

<ProjectLayout title="Simple Brilliance">
    <p slot="description">I retouched images shot by photographer Greg Swales for multiple campaigns for Lagos Jewelry. The images were used for print and digital marketing.</p>

    <Fragment slot="body">
        <div class="grid grid-cols-2 gap-4 max-w-7xl ml-auto mr-auto">
            <div class="col-span-2">
                <Img src="gildstudios-lagos-1.jpg" alt="Something" dir="case-studies/lagos" />
            </div>
        
            <Img src="gildstudios-lagos-2.jpg" alt="Something" dir="case-studies/lagos" />
            <Img src="gildstudios-lagos-3.jpg" alt="Something" dir="case-studies/lagos" />
            <div class="col-span-2">
                <Img src="gildstudios-lagos-4.jpg" alt="Something" dir="case-studies/lagos" />
            </div>
            <Img src="gildstudios-lagos-5.jpg" alt="Something" dir="case-studies/lagos" />
            <Img src="gildstudios-lagos-6.jpg" alt="Something" dir="case-studies/lagos" />
            <div class="col-span-2">
                <Img src="gildstudios-lagos-7.jpg" alt="Something" dir="case-studies/lagos" />
            </div>
            <Img src="gildstudios-lagos-8.jpg" alt="Something" dir="case-studies/lagos" />
            <Img src="gildstudios-lagos-9.jpg" alt="Something" dir="case-studies/lagos" />
            <div class="col-span-2">
                <Img src="gildstudios-lagos-10.jpg" alt="Something" dir="case-studies/lagos" />
            </div>
            <Img src="gildstudios-lagos-11.jpg" alt="Something" dir="case-studies/lagos" />
            <Img src="gildstudios-lagos-12.jpg" alt="Something" dir="case-studies/lagos" />
        </div>
    </Fragment>
</ProjectLayout>