---
import WorkLayout from "../../layouts/WorkLayout.astro";
import Img from "../../components/Img.astro";
---

<WorkLayout title="Simple Brilliance" tags={["Retouching", "Color Grading"]}>
    <p slot="description">I retouched images shot by photographer Greg Swales for multiple campaigns for Lagos Jewelry. The images were used for print and digital marketing.</p>

    <Fragment slot="body">
        <div class="flex flex-col gap-4">
            <Img src="gildstudios-lagos-1.jpg" alt="Lagos Jewelry" dir="case-studies/lagos" />
        
            <div class="grid md:grid-cols-2 gap-4">
                <Img src="gildstudios-lagos-2.jpg" alt="Lagos Jewelry" dir="case-studies/lagos" />
                <Img src="gildstudios-lagos-3.jpg" alt="Lagos Jewelry" dir="case-studies/lagos" />
            </div>

            <Img src="gildstudios-lagos-4.jpg" alt="Lagos Jewelry" dir="case-studies/lagos" />

            <div class="grid md:grid-cols-2 gap-4">
                <Img src="gildstudios-lagos-5.jpg" alt="Lagos Jewelry" dir="case-studies/lagos" />
                <Img src="gildstudios-lagos-6.jpg" alt="Lagos Jewelry" dir="case-studies/lagos" />
            </div>

            <Img src="gildstudios-lagos-7.jpg" alt="Lagos Jewelry" dir="case-studies/lagos" />

            <div class="grid md:grid-cols-2 gap-4">
                <Img src="gildstudios-lagos-8.jpg" alt="Lagos Jewelry" dir="case-studies/lagos" />
                <Img src="gildstudios-lagos-9.jpg" alt="Lagos Jewelry" dir="case-studies/lagos" />
            </div>

            <Img src="gildstudios-lagos-10.jpg" alt="Lagos Jewelry" dir="case-studies/lagos" />

            <div class="grid md:grid-cols-2 gap-4">
                <Img src="gildstudios-lagos-11.jpg" alt="Lagos Jewelry" dir="case-studies/lagos" />
                <Img src="gildstudios-lagos-12.jpg" alt="Lagos Jewelry" dir="case-studies/lagos" />
            </div>
        </div>
    </Fragment>
</WorkLayout>