---
import WorkLayout from "../../layouts/WorkLayout.astro";
import Img from "../../components/Img.astro";
import Video from "../../components/Video.astro";
---

<WorkLayout title="Makes Us Family" tags={["Retouching", "Color Grading"]}>
    <p slot="description">GSK commissioned me to work on the launch of their new campaign for their research on multiple myeloma. Meticulously fine tuning the color palette and making sure that the talents’ beauty and personalities shine through was a challenge that I was excited to take on. Through my tried and tested look development process I was able to create a look that was both vibrant and natural, and that was able to carry through the entire campaign.</p>

    <Fragment slot="body">
        <div class="flex flex-col gap-4">
            <Img src="gildstudios-gsk-3.jpg" alt="Makes Us Family" dir="case-studies/makes-us-family" />
            
            <div class="flex flex-col md:flex-row gap-4">
                <div class="basis-1/3">
                    <Img src="gildstudios-gsk-2.jpg" alt="Makes Us Family" dir="case-studies/makes-us-family" />
                </div>
                <div class="basis-2/3">
                    <Img src="gildstudios-gsk-1.jpg" alt="Makes Us Family" dir="case-studies/makes-us-family" />
                </div>
            </div>

            <div class="flex flex-col md:flex-row gap-4">
                <div class="basis-2/3">
                    <Img src="gildstudios-gsk-5.jpg" alt="Makes Us Family" dir="case-studies/makes-us-family" />
                </div>
                <div class="basis-1/3">
                    <Img src="gildstudios-gsk-4.jpg" alt="Makes Us Family" dir="case-studies/makes-us-family" />
                </div>
            </div>

            <div class="grid md:grid-cols-3 gap-4">
                <Img src="gildstudios-gsk-6.jpg" alt="Makes Us Family" dir="case-studies/makes-us-family" />
                <Img src="gildstudios-gsk-7.jpg" alt="Makes Us Family" dir="case-studies/makes-us-family" />
                <Img src="gildstudios-gsk-8.jpg" alt="Makes Us Family" dir="case-studies/makes-us-family" />
            </div>

            <Video
                src="/videos/gildstudios-gsk-anim.mp4"
                formats={["mp4"]}
                autoplay={true}
                muted={true}
                controls={true}
                loop={true}
            />

            <Img src="gildstudios-gsk-bts.jpg" alt="Makes Us Family" dir="case-studies/makes-us-family" />
        </div>
    </Fragment>
</WorkLayout>