---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import Img from "../../components/Img.astro";
---

<ProjectLayout title="My AT&T">
    <p slot="description">Working with our friends at POSSIBLE I brought a set of characters to life for AT&T’s Control In An Uncontrollable World campaign. Me and my team was responsible for the retouching, color grading, look development, and compositing of the final images.</p>

    <Fragment slot="body">
        <div class="flex flex-col gap-4">
            <Img src="gildstudios-myatt-1.jpg" alt="something" dir="case-studies/my-att" />
            <Img src="gildstudios-myatt-2.jpg" alt="something" dir="case-studies/my-att" />
            <Img src="gildstudios-myatt-3.jpg" alt="something" dir="case-studies/my-att" />
            <Img src="gildstudios-myatt-4.jpg" alt="something" dir="case-studies/my-att" />
            <Img src="gildstudios-myatt-5.jpg" alt="something" dir="case-studies/my-att" />
            <Img src="gildstudios-myatt-7.jpg" alt="something" dir="case-studies/my-att" />
            <Img src="gildstudios-myatt-8.jpg" alt="something" dir="case-studies/my-att" />
            <Img src="gildstudios-myatt-9.jpg" alt="something" dir="case-studies/my-att" />
            <Img src="gildstudios-myatt-10.jpg" alt="something" dir="case-studies/my-att" />
            <Img src="gildstudios-myatt-11.jpg" alt="something" dir="case-studies/my-att" />
        </div>
    </Fragment>
</ProjectLayout>