---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import Img from "../../components/Img.astro";
import Video from "../../components/Video.astro";
---

<ProjectLayout title="Portraits">
    <p slot="description"></p>

    <Fragment slot="body">
        <div class="max-w-7xl mx-auto grid grid-cols-2 gap-4">
            
        </div>
    </Fragment>
</ProjectLayout>