---
import WorkLayout from "../../layouts/WorkLayout.astro";
import Img from "../../components/Img.astro";
import Video from "../../components/Video.astro";
---

<WorkLayout title="Portraits" tags={["Retouching", "Color Grading"]}>
    <!-- <p slot="description"></p> -->

    <Fragment slot="body">
        <div class="flex flex-col gap-4">
            <div class="grid md:grid-cols-2 gap-4">
                <Img src="gildstudios-sealife-2.jpg" alt="Portrait from series Sea Life" dir="case-studies/portraits" />
                <Img src="gildstudios-sealife-1.jpg" alt="Portrait from series Sea Life" dir="case-studies/portraits" />
                <Img src="gildstudios-sealife-3.jpg" alt="Portrait from series Sea Life" dir="case-studies/portraits" />
                <Img src="gildstudios-portraits-keith-2.jpg" alt="Portrait of gentleman with glasses sitting at a table" dir="case-studies/portraits" />
            </div>
            
            <Img src="gildstudios-portraits-bryceedgmon-1.jpg" alt="Portrait of Alaskan Senator Bryce Edgmon in a field" dir="case-studies/portraits" />
            
            <div class="grid md:grid-cols-2 gap-4">
                <Img src="gildstudios-printmag-6.jpg" alt="Black and White portrait of three people" dir="case-studies/portraits" />
                <Img src="gildstudios-portraits-lrbook-1.jpg" alt="Black and White portrait of three people" dir="case-studies/portraits" />
                <Img src="gildstudios-portraits-loose-1.jpg" alt="Man in striped turtleneck in front of seamless background" dir="case-studies/portraits" />
                <Img src="gildstudios-portraits-jessicahische-1.jpg" alt="Jessica Hische leaning on a table" dir="case-studies/portraits" />
            </div>

            <Img src="viktorfejes-staja.jpg" alt="Woman in bathtub with a moustache" dir="case-studies/portraits" />
            
            <div class="grid md:grid-cols-2 gap-4">
                <Img src="viktorfejes-house-of-abraham-01.jpg" alt="Portrait of actors from House of Abraham" dir="case-studies/portraits" />
                <Img src="viktorfejes-flora-01.jpg" alt="Portrait of woman sitting in chair" dir="case-studies/portraits" />
                <Img src="gildstudios-printmag-4.jpg" alt="Portrait of young woman in front of white background" dir="case-studies/portraits" />
                <Img src="gildstudios-portraits-darakhosrowshahi-1.jpg" alt="Portrait of Uber CEO in front of white background" dir="case-studies/portraits" />
            </div>
            
            <Img src="viktorfejes-jkcl-01.jpg" alt="Woman in chair in beanie holding radio" dir="case-studies/portraits" />
            
            <div class="grid md:grid-cols-2 gap-4">
                <Img src="gildstudios-portraits-scout-1.jpg" alt="Woman in scout attire smiling in front of seamless background" dir="case-studies/portraits" />
                <Img src="gildstudios-portraits-avt-1.jpg" alt="Man adjusting glasses" dir="case-studies/portraits" />
            </div>
        </div>
    </Fragment>
</WorkLayout>