---
import WorkLayout from "../../layouts/WorkLayout.astro";
import Img from "../../components/Img.astro";
import Video from "../../components/Video.astro";
---

<WorkLayout title="See Art" tags={["Retouching", "Color Grading"]}>
    <p slot="description">I collaborated with the team at Chemistry Club to bring to life the See Art campaign for the reopening of the San Francisco Museum of Modern Art. The campaign features a series of images by photographer John Keatley, which I then retouched and composited. The images were used in print, digital, and out-of-home advertising.</p>

    <Fragment slot="body">
        <div class="flex flex-col gap-4">
            <div class="grid lg:grid-cols-2 gap-4">
                <Img src="gildstudios-seeart-1.jpg" alt="See Art" dir="case-studies/see-art" />
                <Img src="gildstudios-seeart-2.jpg" alt="See Art" dir="case-studies/see-art" />
            </div>

            <div class="grid md:grid-cols-2 gap-4">
                <Img src="gildstudios-seeart-3.jpg" alt="See Art" dir="case-studies/see-art" />
                <Img src="gildstudios-seeart-4.jpg" alt="See Art" dir="case-studies/see-art" />
                <Img src="gildstudios-seeart-5.jpg" alt="See Art" dir="case-studies/see-art" />
                <Img src="gildstudios-seeart-6.jpg" alt="See Art" dir="case-studies/see-art" />
            </div>

            <Img src="gildstudios-seeart-8.jpg" alt="See Art" dir="case-studies/see-art" />
            <Img src="gildstudios-seeart-9.jpg" alt="See Art" dir="case-studies/see-art" />

            <div class="grid md:grid-cols-2 gap-4">
                <Img src="gildstudios-seeart-10.jpg" alt="See Art" dir="case-studies/see-art" />
                <Img src="gildstudios-seeart-11.jpg" alt="See Art" dir="case-studies/see-art" />
            </div>

            <Img src="gildstudios-seeart-insitu-1.jpg" alt="See Art" dir="case-studies/see-art" />
            <Img src="gildstudios-seeart-insitu-2.jpg" alt="See Art" dir="case-studies/see-art" />
            <Img src="gildstudios-seeart-insitu-3.jpg" alt="See Art" dir="case-studies/see-art" />
            <Img src="gildstudios-seeart-insitu-4.jpg" alt="See Art" dir="case-studies/see-art" />
        </div>
    </Fragment>
</WorkLayout>