---
import ProjectLayout from "../../layouts/ProjectLayout.astro";
import Img from "../../components/Img.astro";
---

<ProjectLayout title="Summer Escape">
    <p slot="description">I partnered with photographer Emily Soto to collaborate on Escape Watches’ Summer campaign. Through the use of carefully planned color grading I was able to bring the feeling of summer to life, at the same time creating a cohesive look for the brand.</p>

    <Fragment slot="body">
        <div class="flex flex-col gap-4">
            <Img src="gildstudios-escape-1.jpg" alt="Something" dir="case-studies/summer-escape" />
            
            <div class="grid grid-cols-2 gap-4">
                <Img src="gildstudios-escape-2.jpg" alt="Something" dir="case-studies/summer-escape" />
                <Img src="gildstudios-escape-3.jpg" alt="Something" dir="case-studies/summer-escape" />
            </div>
            
            <Img src="gildstudios-escape-4.jpg" alt="Something" dir="case-studies/summer-escape" />
            
            <div class="grid grid-cols-2 gap-4">
                <Img src="gildstudios-escape-5.jpg" alt="Something" dir="case-studies/summer-escape" />
                <Img src="gildstudios-escape-8.jpg" alt="Something" dir="case-studies/summer-escape" />
                <Img src="gildstudios-escape-10.jpg" alt="Something" dir="case-studies/summer-escape" />
                <Img src="gildstudios-escape-7.jpg" alt="Something" dir="case-studies/summer-escape" />
                <Img src="gildstudios-escape-9.jpg" alt="Something" dir="case-studies/summer-escape" />
                <Img src="gildstudios-escape-6.jpg" alt="Something" dir="case-studies/summer-escape" />
            </div>
        </div>
    </Fragment>
</ProjectLayout>