---
import WorkLayout from "../../layouts/WorkLayout.astro";
import Img from "../../components/Img.astro";
---

<WorkLayout title="Support The Neighborhood" tags={["Retouching", "Color Grading"]}>
    <p slot="description">I worked with the team at Martin Agency and Doordash to bring their new national ad campaign to life. I was tasked with developing a unified look for the campaign and the retouching of the images that depict ordinary, everyday orders to focus on the people who are supported by and work with DoorDash.</p>

    <Fragment slot="body">
        <div class="flex flex-col gap-4">
            <Img src="gildstudios-doordash-2.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-1.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-3.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-4.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-5.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-6.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-7.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-8.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-9.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-10.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-11.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-12.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-13.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-14.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-situ-1.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-situ-2.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-situ-3.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-situ-5.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-situ-7.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-situ-8.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-situ-9.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-situ-10.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-situ-11.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-situ-13.jpg" alt="DoorDash" dir="case-studies/doordash" />
            <Img src="gildstudios-doordash-situ-14.jpg" alt="DoorDash" dir="case-studies/doordash" />
        </div>
    </Fragment>
</WorkLayout>