---
import Layout from "./Global.astro";

import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import { Image } from 'astro:assets';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<Layout title=`${title} - Viktor Fejes` header="short">
    <article class="flex flex-col items-center w-full max-w-xl">
        <div class="w-full max-w-xl prose">
            <header class="mb-16">
                <h1 class="text-3xl font-medium dark:text-neutral-300">{title}</h1>
                <div class="date text-neutral-400 dark:text-neutral-600">
                    <FormattedDate date={pubDate} />
                    {
                        updatedDate && (
                            <div class="last-updated-on">
                                Last updated on <FormattedDate date={updatedDate} />
                            </div>
                        )
                    }
                </div>
            </header>
            <slot />
        </div>
    </article>
</Layout>

<style>
    .prose :global(p) {
        font-size: var(--text-lg);
        margin-bottom: 1em;
    }

    .prose :global(h2) {
        font-size: var(--text-xl);
        font-weight: var(--font-weight-medium);
        margin-top: 2em;
        margin-bottom: 0.5em;
    }

    :global(.dark) .prose :global(h2) {
        color: var(--color-neutral-300);
    }
</style>
