---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import GrainOverlay from "../components/GrainOverlay.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={ title } />
	</head>
	<body>
		<Header />
        <main>
			<slot />
        </main>
		<Footer />
	</body>
</html>

<style>
	main {
		width: 100%;
		display: flex;
		position: relative;
		align-content: center;
		align-items: center;
		flex-direction: column;
	}
</style>

<style is:global>
	body {
		/* perspective: 1000px; */
	}
</style>

<script>
	const observer = new IntersectionObserver((entries) => {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.add("element-enter");
				entry.target.classList.remove("element-leave");
			} else {
				// entry.target.classList.remove("element-enter");
				// entry.target.classList.add("element-leave");
			}
		});
	});

	document.querySelectorAll(".element-animate").forEach((el) => observer.observe(el));
</script>