---
import Layout from "./Layout.astro";

const { title } = Astro.props;
---

<Layout title=`Viktor Fejes - ${title}`>
    <article class="project">
        <div class="header">
            <h2>{title}</h2>
            <div class="description">
                <slot name="description" />
            </div>
        </div>
        <div class="body">
            <slot name="body" />
        </div>
    </article>
</Layout>

<style>
    .project {
        width: 100%;
        max-width: var(--max-width-xl);
        padding: var(--padding-page-left);
        margin: 14rem 0 0 0;
    }

    .header {
        margin-bottom: 12rem;
    }

    .header h2 {
        font-size: var(--font-size-6xl);
        font-weight: var(--font-weight-regular);
        line-height: 1;
        margin-bottom: 0.6em;
        /* max-width: 14ch; */
    }

    .description :global(p) {
        font-size: var(--font-size-lg);
        line-height: 1.4;
        max-width: 42ch;
        opacity: 0.5;
        margin-bottom: 1.4em;
    }

    .body {
        width: 100%;
    }

    .body :global(.grid) {
        display: grid;
    }

    .body :global(.gap-4) {
        gap: 1rem;
    }
</style>
