---
import Layout from "./Layout.astro";

const { title, tags } = Astro.props;
---

<Layout title=`Viktor Fejes - ${title}`>
    <article class="w-full max-w-8xl px-4 md:px-8 mt-64">
        <div class="mb-8 sm:mb-24 md:mb-40">
            <h2 class="text-5xl sm:text-6xl md:text-8xl mb-10">{title}</h2>
            <ul class="flex gap-2 mb-24 flex-wrap whitespace-nowrap">
                {tags && tags.map((tag) => (
                    <li class="text-sm uppercase border rounded-full px-4 py-1">{tag}</li>
                ))}
            </ul>
            <div class="flex justify-end">
                <div class="description text-xl md:text-2xl w-full lg:max-w-xl leading-normal">
                    <slot name="description" />
                </div>
            </div>
        </div>
        <div class="w-full">
            <slot name="body" />
        </div>
    </article>
</Layout>

<style>
    .description :global(p) {
        max-width: 36ch;
        margin-bottom: 1.4em;
    }
</style>
